[2018-02-23 15:39] sendilkumarn opened #2 "Add travis to the project"
We can add travis to this project, to test the default cases atleast at first or else copy the same testing with what we have in the main project.

[2018-02-24 15:57] PierreBesson opened #3 "[Suggestion] Keep existing JHipster java config code and use kotlin only for entities"
As I currently understand it, this module is forking the entire server generator code and migrating it to Kotlin. But with this approach it will be highly likely that the blueprint will break in strange ways as the java code evolve without taking this module into account. The cost of maintaining two versions of the same code in different languages is high and especially as it's in different repos,

[2018-02-24 22:36] tharakadesilva opened #4 "Kotlin for UI modules"
Was wondering if it'd be possible to add Kotlin for UI modules generated for Angular and Kotlin.

[2018-02-24 23:09] sendilkumarn opened #5 "Move to data classes for domain objects"
It is better to migrate the domain objects into complete data classes

[2018-02-24 23:14] sendilkumarn commented on #4
It is possible to do this. But again that will be a huge work. Would love to have some contributors for this.

[2018-02-24 23:17] tharakadesilva commented on #4
I could start working on it but I am probably going to need some help ;)

[2018-02-24 23:19] sendilkumarn commented on #3
Good point @PierreBesson

converting few thousand lines of code is really a big deal and it will change quite frequently.  While interoperability between Java and kotlin is really good, there are some corner cases that had to be handled and I am more worried about that part.

Personally I would like  100% Kotlin project. But it seems to be wrong option to do at the moment (with many changes are po

[2018-02-24 23:33] sendilkumarn commented on #4
let us start with something simple there then, we will just generate the `glue` code that enables users to write kotlin based frontend files. Then we can migrate the entities to use this Kotlin generator and so on.

[2018-02-24 23:37] sendilkumarn opened #6 "Migrate entity generator into Kotlin"
Migrate the existing entity generator to Kotlin

This will include

- [ ] migrating the resource files
- [ ] migrating the repositories
- [ ] migrating the domain
- [ ] migrating the service layer

[2018-02-24 23:41] sendilkumarn opened #7 "Investigate occasional build failures when using Maven"
When using maven, the build is flaky and has some issues. This needs to investigated and fix.

[2018-02-24 23:43] sendilkumarn opened #8 "Migrate Spring service generator into Kotlin"

[2018-02-24 23:44] sendilkumarn opened #9 "Migrate Spring controller generator to Kotlin"

[2018-02-24 23:44] sendilkumarn opened #10 "Convert Integration tests into Kotlin"

[2018-02-25 03:38] tharakadesilva opened #13 "Classes should be moved over from src/main/java to src/main/kotlin"

[2018-02-25 09:01] jdubois commented on #3
@deepu105 @PierreBesson in fact this is the same issue as we have for reactive code, see my comment [here](https://github.com/jhipster/generator-jhipster/issues/5970#issuecomment-368249285). I think we should have a common approach.

[2018-02-25 09:34] thodorisbais commented on #8
Hello,

I think this is a good chance for me to learn two things (JHipster & Kotlin) at once by doing and to also stay up-to-date with the front-end related trends; _the latter also implies upcoming question(s) might be really trivial, but I think it's better to ask early 😃 ._

On topic, although this seems a pretty easy one, I think I am missing some very basic configuration.
After linking the cl

[2018-02-25 10:40] sendilkumarn commented on #8
You have to clone the latest `generator-JHipster` repo and then link `yarn link` in that folder.
Followed by running `yarn link generator-jhipster` inside `jhipster-kotlin-tests` folder

and you have to run `jhipster --blueprint generator-jhipster-kotlin`

it runs on gradle too now

[2018-02-25 11:33] pascalgrimaud commented on #2
another question: what is the current status of this repo ? is it working ?

[2018-02-25 12:06] sendilkumarn commented on #2
It works for the default application with gradle.
I think we can have a simple travis build for default application alone now.

For maven there is an issue #7 the build is flaky

[2018-02-25 12:08] sendilkumarn commented on #2
I am sure that the maven issue is because of dependencies ordering but needs investigation

[2018-02-25 20:45] thodorisbais commented on #13
I think we should either assign the/an `in-progress` label on this one, since @tharakadesilva has already started working on it.

[2018-02-25 22:40] tharakadesilva commented on #13
I am actually having some issues getting the blueprint to run locally. I closed my PR till I get that resolved.

[2018-02-25 22:51] thodorisbais commented on #13
@sendilkumarn after this and the discussions on #2 and #8 I think it's now official that we don't have any local setup (which we may need to add in the README, once fixed) of jhipster-kotlin yet.

However, @tharakadesilva , IMHO it would be better if you just left open/reopened your PR with a descriptive message (either WIP or a comment), so that other people interested in picking this issue up ma

[2018-02-26 09:47] sendilkumarn commented on #13
@thodorisbais check out the detailed instructions added [here](https://github.com/jhipster/jhipster-kotlin#to-run-the-application-currently-till-jhipster-5-is-released)

And for spring-service and spring-controller, they are not the main generator as a whole. So it needs a bit of exploration and testing.

@tharakadesilva AFAIK, you were able to solve it right using `npm` instead of `yarn`

[2018-02-26 18:46] tharakadesilva opened #18 "repository/SocialUserConnectionRepository doesn't have return types for delete functions"
The return type for the delete functions are only generated for databaseType === 'couchbase'. For others there are no return type(s) defined which causes the delete functions to be generated without a return type:

[code]

Potential fix: should probably add an else clause to set the return type to `Void`.

[2018-02-26 18:50] sendilkumarn commented on #18
Good catch, just to move the `:` inside the if condition

[2018-02-26 18:53] tharakadesilva commented on #5
Are these changes https://github.com/tharakadesilva/jhipster-kotlin-test/pull/1/files good for this issue? If so, I'll go ahead and modify the template files.

[2018-02-26 19:24] #13 closed

[2018-02-26 22:20] #18 closed

[2018-02-27 09:07] deepu105 commented on #4
Guys, I would suggest focussing on backend first as that is where Kotlin shines. For front-end I wouldn't recommend as you would want to use something like Kotlin-React to get descent SPA and doing frontend with Kotlin is ugly as hell from what I have seen. Just compare normal react code with same in Kotlin you will see what I'm talking about

[2018-02-27 09:56] sendilkumarn commented on #4
@deepu105 exactly it is weird. That is the reason why I want to start with a gluecode. But this is not a priority.

[2018-02-28 21:48] pascalgrimaud commented on #2
@jdubois : can you activate this repo in Travis plz ?

[2018-02-28 21:51] sendilkumarn commented on #2
@jdubois done :)

@pascalgrimaud  👍

[2018-02-28 21:51] pascalgrimaud commented on #2
Sorry for pinging, Sendil can do it

[2018-02-28 23:38] sendilkumarn opened #22 "Use Jackson module Kotlin"
https://github.com/FasterXML/jackson-module-kotlin

[2018-02-28 23:40] sendilkumarn opened #23 "Use reified runapplication instead of springapplication.run"

[2018-03-01 00:11] sendilkumarn commented on #7
[here](https://blog.codecentric.de/en/2017/09/how-to-mix-java-and-kotlin-within-one-spring-boot-application/)

[here](https://kotlinlang.org/docs/reference/using-maven.html#compiling-kotlin-and-java-sources)

and [here](https://stackoverflow.com/questions/29330311/how-do-you-compile-javakotlin-project-using-maven)

[2018-03-01 09:38] pascalgrimaud commented on #2
@sendilkumarn : I'm starting the work this morning but I have an issue.
If I put an existing `.yo-rc.json` in a folder and use: `jhipster --force --skip-checks --blueprint generator-jhipster-kotlin`, I have to answer the question, instead of auto generating everything.

So the Travis builds failed, because it waits for the answer:

[code]

[2018-03-01 14:15] sendilkumarn commented on #2
`{
  "generator-jhipster-kotlin": {
    "promptValues": {
      "packageName": "com.mycompany.myapp"
    },
    "jhipsterVersion": "4.14.0",
    "baseName": "jhipster",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "jwt",
    "cacheProvider": "ehcache",
    "enableHibernateCache": true,
    "websocket": fal

[2018-03-01 14:15] sendilkumarn commented on #2
I think you need to have this blueprint there

[2018-03-01 14:40] pascalgrimaud commented on #2
Oh ok thanks, I will update my branch soon

[2018-03-02 13:49] #2 closed

[2018-03-02 13:50] sendilkumarn commented on #22
closed via 20599c36e9c9330ab2f3cc54c5d00da83fedf693

[2018-03-02 13:50] #22 closed

[2018-03-07 06:04] sendilkumarn commented on #23
fixed via 64447220705f41cce4c6e6ea66bcd8aca4a62925

[2018-03-07 06:04] #23 closed

[2018-03-14 15:03] hberndt opened #27 "Error while generating"
I setup as mentioned in README. And started generating a new app:
```jhipster --blueprint generator-jhipster-kotlin```

I get the following error:
[code]

I am very interested in contributing to this project because I like kotlin and made a kotlin microservice based on prior JHipster generated app manuelly.

Any help appreciated.

JHipster Version(s): actual master branch (linked via yarn link)

[

[2018-03-14 17:10] sendilkumarn commented on #27
This is because `ThymeleafConfiguration.java` file is removed from the main generator. I will do a patch release today. Sorry for inconvenience.

Sure, you are welcome to contribute. 🎉

[2018-03-14 23:29] sendilkumarn commented on #27
Closed by 6b1068453206fdd14b6bdc8d760b3709bc7884c5

Will be available in version `0.2.0`

[2018-03-14 23:29] #27 closed

[2018-03-14 23:29] sendilkumarn opened #28 "More intelligent way to handle the pom.xml"

[2018-03-14 23:30] sendilkumarn opened #29 "Update to Kotlin 1.2.30"

[2018-03-17 07:45] #29 closed

[2018-04-09 07:29] sendilkumarn commented on #2
It is here https://travis-ci.org/jhipster/jhipster-kotlin

[2018-04-09 16:32] pascalgrimaud commented on #2
Oh I see, it's because the link in README is incorrect

[2018-04-15 20:15] sendilkumarn commented on #2
@pascalgrimaud updated

[2018-04-17 12:05] pjhampton commented on #10
I can take this one if it's still free @sendilkumarn

[2018-04-17 12:33] thodorisbais commented on #10
I can also help you @pjhampton with that.

[2018-04-17 13:41] pjhampton commented on #10
Oh nice. Thanks @thodorisbais! I will ping you for a review then :+1:

[2018-04-17 14:14] thodorisbais commented on #10
I actually meant we could split the work for this one. Sendil is the one who will review it in the end :)

[2018-04-17 14:45] pjhampton commented on #10
I see, thanks for the offer @thodorisbais. It's pretty straight forward, but if I see opportunity for collaboration I will reach out :100:

[2018-05-06 08:07] hberndt commented on #6
I start working on this issue.

[2018-05-12 07:28] hberndt commented on #6
I need some help on overwriting the generator scripts. I do not understand how to overwrite index.js and files.js. I always get a warning: No blueprint found for entity. I only want to change entity-server. Any ideas? Is there any documentation on implemeting a blueprint?

[2018-05-13 13:41] thodorisbais commented on #6
Hi @hberndt , indeed, there is currently something missing in the configuration so that we can make it work. As soon as we fix this, we will let you know.

[2018-05-15 08:53] hberndt commented on #6
@sendilkumarn I made a new branch from the master. But within the server templates index and files are not the same as in the jhipster generator. That was the reason for me to change them for the entity-generator. I am familiar with JAVA and Kotlin but I am not familiar with the YEOMAN generator architecture. May I get some help for the entity generator starting point?

[2018-05-15 18:14] sendilkumarn commented on #6
@hberndt there is a problem with the current master.

@deepu105 Do you have any idea when can you work on this, after vacation?

[2018-06-05 21:14] soberich opened #32 "Improve generated gradle build script"
Hi,
To start with..
the generated build script is simply not compileable because of the version in properties file which is
`2.0.0-20180313.135554-7` and some other stuff.
it is already `2.0.8` available.. Ok, it is not the latest but Why is it the snapshot with `20180313.135554......` which is not very great to put in publicly available template (I mean should this not be always a stable one?)
Th

[2018-06-08 10:00] sendilkumarn commented on #32
Agree but only in that version blueprint is working so, it is kept in that. There are some issues with blueprint that makes it completely not usable.

Thanks, but wait for another week, I hope the [issue](https://github.com/jhipster/generator-jhipster/issues/7238) with blueprint will be fixed. Pinging @deepu105  here

It is very much in the plan.

I would love to use Kotlin, but the problem is tha

[2018-06-11 11:00] sendilkumarn commented on #32
Closing this issue, feel free to add in your comment if you have any

[2018-06-11 11:00] #32 closed

[2018-06-19 23:01] soberich commented on #32
Hi, @sendilkumarn @jkutner @mraible @amr @jmirc
I have pushed a proposed example https://github.com/soberich/jhipster-gradle-kotlin-dsl
Main stuff:

0. It starts to work with Gradle 4.**9**+ (uses lazy tasks)
1. Precompiled scripts allow us to truly externalize inclusion logic to those plugins which looks and feels naturally as if they were inclusions like `apply from` but they are created on-the-

[2018-06-20 11:01] soberich commented on #3
Hi, I did not dig deep yet into the reasons you want to keep Java for config, but if by "config" you mean java `@Configuration` annotated java classes probably as a "fast moving project" and, that said, being progressive and staying on the "edge" of available technologies maybe jhipster should consider ti use functional bean definitions for kotlin which seems more in line with `jhipster-kotlin` as

[2018-06-21 10:05] sendilkumarn commented on #6
It is ready :)

[2018-06-21 17:09] hberndt commented on #6
:-) would be great but I get

`events.js:183
      throw er; // Unhandled 'error' event
      ^

AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: /Users/hberndt/Projects/jhipster-kotlin/node_modules/generator-jhipster/generators/server/templates/gitattributes.ejs`

[2018-06-21 20:22] deepu105 commented on #6
May be you are on Yarn 1.7, if so please downgrade to 1.6

On Thu, 21 Jun 2018, 7:09 pm Holger Berndt, <notifications@github.com>
wrote:

[2018-06-22 15:34] hberndt commented on #6
Mmmh. I don't know why yarn should be responsible (it is a dependency manager?)
Nevertheless I downgraded to 1.6 but the error still remains. All calls to the generator template function work. Only the copy function throw this error. If the source file does not exists in the blueprint there will no fallback to the jhipster original.

[2018-06-22 15:47] sendilkumarn commented on #6
The particular file is from the base generator. Can you please remove node_modules and do yarn install again in your jhipster-kotlin folder?

Also if you still have the error,
Please post the entire stack.
Where is your generator-jhipster location?
Did you link jhipster insider jhipster-kotlin?

[2018-06-22 16:56] deepu105 commented on #6
@hberndt coz I ran into similar issues due to some issue in Yarn link, a bug from 1.7 onwards. So if you are working on blueprint stick to Yarn 1.6 or use 1.9 snapshots

[2018-07-01 19:45] hberndt commented on #6
Well, first many thanks. That info works.
I developed the entity generator but JHipster does not recognize the blueprint. I pushed my code into a branch within my forck (https://github.com/hberndt/jhipster-kotlin/tree/entity-generator).Would be great if anyone would review my generator code. JHipster 5.0.1 always prompts for a new application even if I use "entity" param.
Thanks for any advice.

[2018-07-15 20:00] #9 closed

[2018-08-01 15:38] groblochon opened #39 "Failed to compile on fresh KHipster project generation"
With JHipster 5.1.0 and lastest jhipster-kotlin blueprint, on a fresh monili I have 2 compilation error :

- AuditResource#get -> id is a String instead of Long
- UserService#getUserWithAuthorities -> id is a String instead of Long
[kotlinCompileBug.txt](https://github.com/jhipster/jhipster-kotlin/files/2250120/kotlinCompileBug.txt)

[x] Checking this box is mandatory (this is just to show you rea

[2018-08-01 15:42] groblochon opened #40 "Failed to create entity using KHipster"
Using JHipster v5.1.0 and latest jhipster-kotlin, on create entity with jdl or not, JHipster ask me to define a database.
[kotlinEntityBug.txt](https://github.com/jhipster/jhipster-kotlin/files/2250130/kotlinEntityBug.txt)

[x] Checking this box is mandatory (this is just to show you read everything)

[2018-08-01 15:57] sendilkumarn commented on #40
Entity generation PR is still not merged. So, it is not possible to generate entities at the moment.

Refer #37

[2018-08-01 15:57] #40 closed

[2018-08-01 15:58] sendilkumarn commented on #39
This is mainly because of the mainstream changes, let me check that.

[2018-08-01 17:03] sendilkumarn commented on #39
Fixed via e42adca39e7f1ed8c544159bb5d0f2b81635d9bd and 3e433b04ec54c5044aa60c5c99e1e85751803282

[2018-08-01 17:03] #39 closed

[2018-08-01 17:03] sendilkumarn commented on #39
Release `0.5.0` version and it should work

[2018-08-07 18:26] sendilkumarn opened #41 "Fix the failing gradle build in CLI"
This is super annoying, we can build the project in IntelliJ without any issues but in the command line it is having a problem, `compileJava` cannot find the `Kotlin compiled classes`

After hours and hours of debugging, the root cause is because `Java` cannot find the detect types of `Kotlin compiled classes`

While this code fails  in CLI

[code]

but this passes in CLI

[code]

[2018-08-07 18:51] deepu105 commented on #41
Did you configure the classpaths for Kotlin. Newer gradle versions use
seperate folder per source

On Tue, 7 Aug 2018, 8:26 pm Sendil Kumar N, <notifications@github.com>
wrote:

[2018-09-05 10:33] sendilkumarn opened #44 "Fix the broken travis build"

[2018-09-05 10:36] pascalgrimaud commented on #44
Already created the PR here: https://github.com/jhipster/jhipster-kotlin/pull/43
But I encounter some other issues, not related to Travis but to the recent change in main generator-jhipster

[2018-09-07 09:14] sendilkumarn commented on #44
Thanks @pascalgrimaud 👍

[2018-09-07 09:14] #44 closed

[2018-09-07 09:15] sendilkumarn commented on #6
The initial version is done. Needs a lot of fixes

[2018-09-07 09:15] #6 closed

[2018-09-07 09:15] sendilkumarn opened #45 "Add Entity generator"

[2018-09-07 09:16] sendilkumarn commented on #4
Closing this for now

[2018-09-07 09:16] #4 closed

[2018-09-07 09:16] #3 closed

[2018-09-26 08:57] fezu54 opened #46 "Unable to generate Gradle project with Gatling enabled"
When I try to generate a Microservice gateway project with Gradle as build tool and Gatling support enabled, the generation will fail. Generating the same project with Maven as build tools works.

Reproduce the error
[code]

[code]

Related issues
Link to PR (if any)
JHipster Version(s) --> 5.3.4
[x] Checking this box is mandatory (this is just to show you read everything)

[2018-09-27 16:28] sendilkumarn commented on #46
@fezu54 Oops sorry, I think that file is removed from the master. Are you using `master` of JHipster. I would suggest use v5.3.0 instead of that particular version

[2018-10-08 11:30] rainerh opened #48 "Bugfix: Pass command line arguments to application"
Overview of the issue
The generated Kotlin application does not pass command line arguments on to the application.

Motivation for or Use Case
Fix the bug

Reproduce the error
Start application with prod profile, the dev profile ist still being used.

Related issues
none

Link to PR (if any)
https://github.com/jhipster/jhipster-kotlin/pull/47

JHipster Version(s)
5.4.2 and earlier

[X] Checking th

[2018-11-05 10:22] timmles opened #51 "Kotlin blueprint in docker (after npm install) reports no kotlin generator"
Overview of the issue
When using docker for the JHipster generation step, then installing the kotlin generator from npm, and running the kotlin blueprint, JHipster reports that there is no server or common blueprint and falls back to the default generator, only producing Java files.

Motivation for or Use Case
1) This is a supported method from the JHipster project.
2) I work on a couple Java, Kot

[2018-11-05 10:22] timmles commented on #51
![screenshot from 2018-11-05 12-11-28](https://user-images.githubusercontent.com/3469626/47992401-7a674e00-e0f5-11e8-9728-f45acfcfd88a.png)

[2018-11-05 10:28] timmles commented on #51
P.S. Feels like this is a n00b issue, so I hesitated before creating this issue - if it is, I'd like to improve the documentation to assist more people getting onto the project and testing it.
P.P.S. I did try joining the Slack, but looks like an invite is needed and not sure how to go about that.

[2018-11-05 10:57] sendilkumarn commented on #51
@timmles Thanks for the issue. I think you need to do `npm link generator-jhipster-kotlin` here. Also the current generator only supports `v5.3.0`. Since there was a lot of changes happened between 5.3 and 5.6 we haven't implemented those changes.

P.s. Why you need to link? Basically adding only `generator-jhipster-kotlin` is enough. Because that would add a wrapper around the `JHipster`. Since y

[2018-11-05 21:46] sendilkumarn commented on #10
Closing this for now. But feel free to work on this, if interested.

[2018-11-05 21:46] #10 closed

[2018-11-05 21:47] sendilkumarn commented on #5
Closing this due to inactivity also migrating the number of base generator's files (since it is quite a big work to follow up).

[2018-11-05 21:47] #5 closed

[2018-11-05 21:48] sendilkumarn commented on #41
Apparently, the reason is due to the `package-info.java` file. Removing that works perfectly. Strange reason took a loooot of time to understand this.

[2018-11-05 21:49] sendilkumarn commented on #41
Can we remove the `package-info.java` files completely?

[2018-11-05 21:50] sendilkumarn commented on #46
Closing this since there is no activity, hope the issue is fixed with v5.3.0

Feel free to open this ticket if you still have the issue.

[2018-11-05 21:50] #46 closed

[2018-11-05 21:51] sendilkumarn commented on #48
Closing this as #47 is merged.

[2018-11-05 21:51] #48 closed

[2018-11-05 21:52] sendilkumarn commented on #51
Hope that will solve the problem, please feel free to re-open the issue if it is still there.

Based on the PR #52 - you can use the Current JHipster Master.

[2018-11-05 21:52] #51 closed

[2018-11-08 15:03] pascalgrimaud opened #53 "Update Travis"
The Travis build needs to be updated, using the new folder `test-integration` as the `travis` folder is deprecated and will be deleted in future.

@sendilkumarn : can you assign me to this ticket plz ? So I won't forget to do it

[2018-11-08 15:04] sendilkumarn commented on #53
Awesome thanks 👍

[2018-11-08 15:05] sendilkumarn commented on #53
Can you also raise a PR against move-5.6 branch?

[2018-11-08 15:22] pascalgrimaud commented on #53
yes ok

[2018-11-09 12:35] pascalgrimaud commented on #53
Closing this, as the PR has been merged

[2018-11-09 12:35] #53 closed

[2018-11-28 21:54] #41 closed

[2018-11-29 14:52] #28 closed

[2018-11-29 23:03] sendilkumarn commented on #8
Closing this since the PR is merged

[2018-11-29 23:03] #8 closed

[2018-11-29 23:04] sendilkumarn opened #62 "Update to Kotlin version 1.2.71"
This should be an easier to upgrade, we have to check both gradle and maven based app works

[2018-11-29 23:47] sendilkumarn opened #63 "Enable gradle test in CI"
Currently the CI is setup only for the maven. We can enable gradle too for testing.

P.S. Add some entites too for testing

[2018-12-06 22:18] garfieldnate opened #64 "installation not detected in JHipster"
When I try to generate a project with JHipster using this plugin, JHipster complains that it is not installed.

Following the instructions in the readme:

    $ npm install -g generator-jhipster-kotlin
    + generator-jhipster-kotlin@0.6.1
    updated 1 package in 12.901s
    $ jhipster --blueprint kotlin
    INFO! Using JHipster version installed globally
    INFO! Running default command
    INF

[2018-12-08 23:14] sendilkumarn commented on #64
@garfieldnate can you try linking the Kotlin-hipster on the folder?  or else try it without installing the main generator.

[2018-12-09 13:06] garfieldnate commented on #64
I'm not exactly sure from your comment what you are asking me to try, but I did the following:

`npm uninstall -g generator-jhipster-kotlin`, then `jhipster --blueprint kotlin` -> same error output.

`git clone https://github.com/jhipster/jhipster-kotlin.git`, `cd jhipster-kotlin`, `npm link`, `jhipster --blueprint kotlin` -> same error output.

[2018-12-09 13:09] sendilkumarn commented on #64
For the second one, inside the folder where you are generating the application run `npm link "generator-jhipster-kotlin"`

[2018-12-09 13:12] garfieldnate commented on #64
I tried it but the error is still the same.

[2018-12-18 15:21] sendilkumarn commented on #45
Yes 👍

[2018-12-21 14:32] sendilkumarn commented on #62
@pvliss go for it. Yeah we will move forward with this project for sure

[2018-12-21 14:48] pvliss commented on #62
Nice. Thanks!!! Will provide the PF in a while

[2018-12-21 15:32] pvliss commented on #62
@sendilkumarn  So I created the PR and no change other than simply upgrading the version was needed.

One thing I noted though when I generated a new project using Gradle is that no Kotlin source was generated. The build.gradle was generated as expected. With maven everything worked as expected.

I am looking at [files.js](https://github.com/jhipster/jhipster-kotlin/blob/master/generators/server/f

[2018-12-21 17:15] sendilkumarn commented on #62
I am not sure whether that will work with Spring Boot 2.0.7. There was some problem when I tried it before.

Sure go for it. I hope it will work with the master branch wit no issues

This is one of the major concern for me, if we convert the files then we have to keep up with JHipster's pace. But we don't have that many contributors here to compete with that. I would say we can wait a bit on here.

[2018-12-21 17:16] #62 closed

[2018-12-21 18:11] kbednarz commented on #64
I've got the same error and after short debugging I noticed `generator-jhipster` executes `yo --generators` to get available blueprints. In my case I've just missed Yeoman. Try to install it with `npm install -g yo`.

[2018-12-22 00:14] sendilkumarn commented on #64
@kbednarz That is indeed an interesting finding. Thanks. @garfieldnate  can you confirm it?

`yo` is the basic requirement for JHipster to run.

[2018-12-22 07:08] pvliss opened #67 "Introduce a single constant for the Kotlin version to simplify upgrade"
After upgrading to Kotlin 1.2.71 at #66 I think it makes sense to introduce a single constant for the Kotlin version in use in order to ease future upgrades.

[x] Checking this box is mandatory (this is just to show you read everything)

[2018-12-22 07:08] pvliss commented on #67
Specifically for Gradle, I believe that it would be even better to set the version in `gradle.properties` instead of copying it in several places, hence an end user can also more easily change manually the version if needed. This may a need a new method `addGradleProperty` at `generator-base.js` similar to `addGradlePlugin`. I will maybe create a ticket/PR to parent JHipster project for that

[2018-12-22 09:04] garfieldnate commented on #64
Ah, that fixed the error.

I'm still puzzled, though, because no Kotlin files were generated. Only Java.

    INFO! Congratulations, JHipster execution is complete!

    $ find . -name "*.kt"

    $

[2018-12-22 09:09] pvliss commented on #64
@garfieldnate Did you use maven or gradle as the build tool? It seems there is a bug for gradle generation. Was about to report it and investigate it.

[2018-12-22 09:11] pvliss opened #69 "Update to Kotlin 1.3.11"
Update to the latest Kotlin stable, namely 1.3.11

[x] Checking this box is mandatory (this is just to show you read everything)

[2018-12-22 09:14] pvliss opened #70 "Update to JHipster 5.7.2"
Update to JHipster 5.7.2

[x] Checking this box is mandatory (this is just to show you read everything)

[2018-12-22 09:17] pvliss commented on #62
I have just tested and found the cause. Will comment on newly created ticket #69. But will prefer if #69 gets merged before submitting a PR to avoid rebasing ,etc.

Ok. Will get to that to. Created new ticket #70

I guess you are right. I mean I currently have a lot of time and plan to contribute a lot the next few weeks but it can be a problem with future maintenance. Nevertheless, I believe once

[2018-12-22 09:31] pvliss commented on #69
@sendilkumarn I will also check the gradle build as well but before submitting a PR I think it would be best to wait  for #67 to be merged to avoid re-basing ,etc.

[2018-12-22 14:43] pvliss commented on #45
@sendilkumarn I was about to start working on this one but then I found there is already some work done as per issue #36 residing at branch [kotlin-entity](https://github.com/jhipster/jhipster-kotlin/tree/kotlin-entity). Does it mean it has been fixed already? If not, should I use what is already in that branch or start from scratch?

[2018-12-22 16:11] garfieldnate commented on #64
@pvliss I'm using gradle. Your advice made everything work! So there are two issues here:

1. It doesn't work out-of-the-box from NPM like it should. You have to `clone` `generator-jhipster` and `jhipster-kotlin` and build and link them, whereas the readme specifies (quite sensibly) that one should only do `npm install -g generator-jhipster-kotlin`.
2. Yeoman needs to be a dependency, or otherwise

[2018-12-25 23:00] sendilkumarn commented on #45
@pvliss From scratch and taking that branch as a reference will help. (if the branch is not in a mergeable state)

[2018-12-25 23:01] sendilkumarn commented on #70
For UserMapper.kt.ejs (I have removed many kt files because it is hard to maintain them.) I think we should stop creating kt for base generator rather provide a platform for users to create the new files in Kotlin. I think that will be a good first step.

[2018-12-26 17:07] pvliss commented on #45
@sendilkumarn  OK. I have already done some work through the weekend and today and hopefully will find some time to complete it tomorrow and create a new PR.

[2018-12-26 23:54] #67 closed

[2018-12-26 23:58] #70 closed

[2018-12-26 23:59] sendilkumarn commented on #45
@pvliss Great go for it 👍

[2018-12-27 00:01] sendilkumarn commented on #69
This will be an interesting fix. I would say check whether a vanilla Spring Boot 2.0.x supports this version of Kotlin before trying it in here.

An easy way to test it.

[2018-12-29 20:02] pvliss commented on #45
Hello @sendilkumarn,

Sorry for the long delay but it needed way more work that I anticipated... :)

Anyways. I have done a first [commit](https://github.com/pvliss/jhipster-kotlin/commit/50b7f5c39b0c4aaf56d2b35298aedc54bf7ab86a) that you can check out.

I have been testing using the `sqlfull` sample from the parent JHipster project and have almost everything right, except the following issues:
1.

[2018-12-29 20:41] #69 closed

[2018-12-29 20:58] sendilkumarn commented on #45
Wow, that is great 👍 Yeah indeed it is a huge work. Create a PR we can do it together

I would say go for a needle. Create an issue in JHipster and let us discuss that there. Needle is easy.

Sure I will check it, once I have some time 👍

Sure this is always in my list of things to do. We can do that.

[2018-12-30 07:50] pvliss commented on #45
You want me to create a PR even though it is unfinished?

Not sure if a needle will work though. From what I understand needles are mainly used to append and not to remove, but in this case we will need the following:
1. Remove the `<annotationProcessorPaths>` from the `<configuration>` element of the `maven-compiler-plugin`.
2. Add `<proc>none</proc>` to the the `<configuration>' element of the `

[2018-12-31 18:56] sendilkumarn commented on #45
I guess that is a good way to collaborate. I don't think there is any problem with that.

Yeah, you are correct. This is the problem. Since we are not generating the XML with the code it is difficult to do this stuff. We can have a local pom.xml copy until we find a better solution.

[2018-12-31 19:03] pvliss commented on #45
I think you misunderstood me. I will submit the PR is a minute. I thought you could check the commit by using the patch since the build will now be failing unless you also apply changes of the latest PR https://github.com/jhipster/generator-jhipster/issues/8991. @jdubois merged and then reverted as he found a bug while testing from the command line. Anyways the latest PR https://github.com/jhipste

[2018-12-31 19:33] pvliss commented on #45
Sorry for the delay. I was trying to rebase and  squash the commits and it took me some time...

[2019-01-01 11:01] pvliss commented on #63
Hello @sendilkumarn and a happy new year!!!

If you do not mind I would like to fix this one too.

[2019-01-01 15:52] sendilkumarn commented on #45
No worries. I will have look at this in next week ( starting my vacation :) )

[2019-01-01 16:33] pvliss commented on #45
Cool. Thanks. Have a nice time :)

[2019-01-01 19:01] #63 closed

[2019-01-01 19:01] sendilkumarn commented on #63
@pvliss Yes we can reuse them for sure 👍

[2019-01-03 06:03] fguo commented on #64
I can only generate several config files with Kotlin. Other files are generated in java. Is this normal?

[2019-01-10 17:41] pvliss commented on #45
Hello @sendilkumarn. Did you have any chance to look into this yet?

BTW, the issue with 'pom.xml' is now fixed by commit 692a962.

I re-created the TODO list here and added some more items to keep track of what needs to be done (maybe we should move it to the description?):

- [ ] There are still a few unit tests failing
- [ ] Have not tested with gradle
- [ ] Have not tested with the other sampl

[2019-01-12 20:18] pascalgrimaud opened #77 "Migration to micrometer"
Following the migration to micrometer, some codes need to be migrated too.
Otherwise, it won't compile with current master of generator-jhipster

[2019-01-16 05:48] sendilkumarn commented on #64
@fguo yeah, currently the generator works like this.

[2019-01-16 09:54] pvliss commented on #77
@pascalgrimaud Thanks.
Just to note here that this work has been done already as part of #74

[2019-01-16 10:00] pvliss opened #78 "Enable Azule Pipelines build"
#### Overview of the issue
As per title, to enable Azure Pipelines CI build similar to the parent JHipster project

#### Motivation for or Use Case
Not sure if this is really needed for the Kotlin blueprint but since I show an `azure-pipelines.yml` file within the project and was easy to implement,  I went ahead and fixed it.

#### Reproduce the error
N/A

#### Link to PR (if any)
Will add asap

#

[2019-01-17 14:18] pvliss commented on #45
@sendilkumarn I am quite certain that I have found the problem and now everything works as expected. I will wait for the CI build to confirm first :pray: and then post the details and update the todo list

[2019-01-17 14:58] pvliss commented on #45
@sendilkumarn Yes, at last everything builds properly!!! :tada:

So the problem was with the `jackson-module-kotlin`. Removing it and enabling the parameter names for the Java compiler did the trick as Spring Boot's `org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration` already configures the `com.fasterxml.jackson.module.paramnames.ParameterNamesModule` and everything plays out

[2019-01-23 08:44] pvliss commented on #45
Hello @sendilkumarn. Any chance you have reviewed this yet or maybe you are waiting for SB 2.1 to be merge onto JHipster master? Also do you have any plans of what we could do next?

[2019-01-23 14:55] amatosg commented on #45
@sendilkumarn I think @pvliss should be a member...

[2019-01-26 08:41] pvliss commented on #45
Thanks @amatosg for the support although I am not sure if I qualify as a member. The important thing here is to move the project forward. Having said that, I realize that its OSS and it takes some time and this PR is really big and will probably need quite a large amount of @sendilkumarn's spare time. Nevertheless, I think we should do a list of what is already don, plan the next steps and start w

[2019-01-26 08:44] pvliss commented on #45
@sendilkumarn As JHipster 5.8.0 has been released would you like me to continue keeping this PR aligned with the JHipster master branch?

[2019-01-29 23:37] sendilkumarn commented on #45
@pvliss we can concentrate on the JHipster master branch.

Our next goal is to support JHipster 6, I do generally agree with all those points that you have mentioned. Feel free to open separate issues for them, we will do them gradually ❤️

[2019-01-29 23:38] sendilkumarn commented on #45
Closing this issue as the PR is merged.

[2019-01-29 23:38] #45 closed

[2019-01-30 06:43] pvliss commented on #45
Cool. I will start by opening an issue for upgrading to 5.8.1 that was just released.

So after that, I think the next big thing is to migrate the whole server generator until we reach feature parity with the main java generator.  I am thinking of opening a master issue with sub-tasks e.g. user management, configuration,client, gateway,etc. and add "small" PRs for each one in order to make it easi

[2019-01-30 07:00] pvliss opened #80 "Update to JHipster 5.8.1"
Update to JHipster 5.8.1

[x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-30 07:01] pvliss opened #81 "Update to JHipster 6.x"
Update to JHipster 6.x once the [SB 2.1 branch](https://github.com/jhipster/generator-jhipster/tree/spring-boot_2.1.0) is merged to master

[x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-30 07:05] pvliss opened #82 "Update to Kotlin 1.3.20"
Update to [Kotlin 1.3.20](https://blog.jetbrains.com/kotlin/2019/01/kotlin-1-3-20-released/)

[x] Checking this box is mandatory (this is just to show you read everything)

[2019-01-30 16:05] pvliss commented on #77
@sendilkumarn This can be closed as well after merge of #45 and #80

[2019-01-30 18:00] pvliss opened #85 "Feature parity with parent Java project"
### Overview of the issue

This is a list of generators and their sub-packages provided by the parent JHipster project in Java and need to be migrated to Kotlin:

**1st level:** Generators:
**2nd level:** Packages

~- [ ] aws-containers~ Removing this based on our discussion.
- [x] entity-server
- [x] server
  - [x] aop
  - [x] client (93)
  - [x] config (#86)
  - [x] domain (#91)
  - [x] gateway

[2019-02-01 08:41] pvliss commented on #85
So I have started the porting and decided to first start with the `domain` package as the entity generator is now done and seemed logical to have all domain objects in Kotlin. I have completed the port but the problem is that several tests fail with `NullPointerException`s as when Java classes use the Kotlin constructors the default arguments are ignored. This is especially true for the `User` cla

[2019-02-06 13:52] pvliss commented on #85
@sendilkumarn Just a status update. I have also finished with the `gateway` and `repository` packages as well but will wait for the merge of #86 first as it changed `server/files.js` heavily and I would like to avoid conflicts/difficult merges for the other PRs.

[2019-02-14 08:49] jonvallet commented on #41
Would be interesting to know why gradle fails to compile if package-info.java is present.

[2019-02-19 14:17] amatosg opened #89 "Service Generation"
The jhipster-kotlin is not yet generating Service/ServiceImpl classes. I might have some time to get that done unless any one is already working on that.

[2019-02-19 14:23] amatosg commented on #85
@pvliss If it's ok with you, I would like to work on the service layer as of #89

[2019-02-19 14:26] pvliss commented on #85
Hello @amatosg. You are more than welcome to help and help is really needed. I have actually already converted the service package. See the commits at #88. I am now pushing commits over there as they also target JHipster 6.x. Also I am just finishing the cucumber tests.

I will update what has already been done in the title. Then just pick what you are comfortable with and let us know.

[2019-02-19 14:28] pvliss commented on #85
I have also done domain but have not pushed the commit yet.

[2019-02-19 14:41] pvliss commented on #89
@amatosg Are you talking about the `spring-service` sub-generator? Then I think this should already work(please correct if I am wrong @sendilkumarn). I have made some changes in #88 but I think it was already working

[2019-02-19 15:38] amatosg commented on #85
so, what's missing? I see _web_ but I'm not sure what layer is that.

[2019-02-19 15:38] pvliss commented on #85
For anyone interested to help out I will continue with the migration of the repository package. Just mentioning to avoid duplicate work

[2019-02-19 15:39] pvliss commented on #85
LOL. Just posted as well

[2019-02-19 15:39] pvliss commented on #85
Well, yes the remaining are web, security and client as well some code in aws-containers subgenerator

[2019-02-19 15:42] pvliss commented on #85
They are all under the server sub-generator.

The java code can found here: https://github.com/jhipster/generator-jhipster/tree/master/generators/server/templates/src/main/java/package

The Kotlin code should be placed under here: https://github.com/jhipster/jhipster-kotlin/tree/master/generators/server/templates/src/main/kotlin/package

And any related tests to according packages

[2019-02-19 21:08] pvliss commented on #85
@amatosg I have finished with the repository package as well and thinking of moving on to either the web or security package. Have you decided if and which one you will pick up as I am going to start tommorow? Thanks

[2019-02-19 21:26] amatosg commented on #85
I will give _client_ a try tonight 👍

[2019-02-20 05:04] pvliss commented on #85
Cool. I will continue with `web` then. Let me know if you need any help and thanks for helping out

[2019-02-26 10:22] pvliss commented on #85
Hello @amatosg. Did you have any time to deal with the client package? Can I be of any help?

[2019-02-26 14:35] pvliss opened #90 "Consider using a Koltin linter"
#### Overview of the issue

I think we should consider using a Kotlin linter such as https://github.com/shyiko/ktlint for the generated projects.

#### Motivation for or Use Case

Have properly formatted generated code according to the [official code style](https://kotlinlang.org/docs/reference/coding-conventions.html) and not have to pin-point every little formatting issue at the generator.

[x ]

[2019-02-26 14:43] amatosg commented on #85
wow, a week already? I'm sorry, but I haven't. I changed to a new project and I've been busy. Did you started that already? otherwise I can do it during the week

[2019-02-26 15:11] pvliss commented on #85
I have not started it but if you do not have time I would like to do it in order to complete this. Let me know if that's ok with you. Thanks

[2019-02-26 15:17] amatosg commented on #85
go ahead, I could take the whole week to finish it at this pace :(

[2019-02-26 15:53] pvliss commented on #85
Thanks a lot. Don't worry there will be plenty of things to contribute to. This is just the beginning

[2019-02-27 15:41] #89 closed

[2019-02-28 04:51] sendilkumarn commented on #90
Definitely that sounds like a great idea 👍

[2019-03-09 08:07] JavierFuentes commented on #64
Same problem with jhipster v5.8.2 and jhipster-kotlin...

I just reviewed [jhipster install page] (https://www.jhipster.tech/installation/) and efectivelly says this in step 4:

[2019-03-09 08:23] pvliss commented on #64
@JavierFuentes Thanks for reporting. So I assume you got it working after installing yeoman, right? And yes I think yeoman is a requirement for getting it to work properly.

@sendilkumarn Maybe we need to revisit the docs. I will try to find some time over the weekend to update them.

[2019-03-09 08:34] JavierFuentes commented on #64
@pvliss,
yes the generator is working now.

[2019-03-09 08:37] pvliss commented on #64
Thanks @JavierFuentes . We will update the docs accordingly

[2019-03-09 22:05] JavierFuentes commented on #40
@sendilkumarn,
what is the status of this...?

I've just executed then command `$ jhipster --blueprint kotlin entity Todo` without errors but all new Classes are .java files

My version is:
[code]

[2019-03-10 02:10] sendilkumarn commented on #40
@JavierFuentes This should work even without the blueprint option.

`jhipster entity Todo` will suffice. (provided the project is created with blueprint option enabled)

[2019-03-10 08:19] JavierFuentes commented on #40
Sorry @sendilkumarn,
but I've reverted all unversioned files in my VCS and repeat the entity creation without `--blueprint` modifier but the results are exactly the same... all server files are .java files

My version of Yeoman is this
[code]

And my `.yo-rc.json` content is this:
[code]

I only apreciate that `jhipsterVersion` doesn't match between `generator-jhipster-kotlin` and `generator-jhips

[2019-03-21 18:05] JavierFuentes commented on #40
Hi @sendilkumarn,
you have been able to reproduce the escenario?

Am I the only one that jhipster-kotlin generator blueprint generates entities in Java instead of Kotlin?

[2019-03-21 18:11] JavierFuentes commented on #64
Hi @pvliss,
I said you that generator was working after install yeoman, but after that I reported in [this comment](https://github.com/jhipster/jhipster-kotlin/issues/40#issuecomment-471226507) that Entities was generating in Java code instead of Kotlin code...

Do you know if there is any kind of bug that produces this behavior?

[2019-03-21 19:35] pvliss commented on #40
Hello @JavierFuentes. You are currently using Kotlin blueprint 0.7.0 which is the latest release **but** the entity generator PR(#74) was merged after that(see [commit history](https://github.com/jhipster/jhipster-kotlin/commits/master)). Currently the only way you can use the entity generator is by using the master branch. Sorry

We are working now to finish updating to JHipster 6.x(SB 2.1)(also

[2019-03-31 19:28] sendilkumarn commented on #64
Not closed yet.

[2019-03-31 19:28] #85 closed

[2019-03-31 19:29] sendilkumarn commented on #81
Thanks @pvliss for the awesome work.

[2019-03-31 19:29] #81 closed

[2019-03-31 19:39] pvliss commented on #90
@sendilkumarn I still have some more changes to commit related to this. Can you please re-open?

[2019-03-31 19:40] sendilkumarn commented on #90
Done and assigned it to you.

I think we can also cut a release after this.

[2019-03-31 19:42] pvliss commented on #90
Sure, although I still want to make some changes to some of the classes to use some of the Kotlin features and we need to wait for the JHipster 6.x release as well(at least the beta) don't we?

[2019-03-31 19:43] sendilkumarn commented on #90
Yeah I agree, but we will just cut a minor release.

[2019-03-31 19:47] pvliss commented on #90
:+1:

[2019-04-01 21:23] pvliss commented on #90
I was wrong about this one. I have already merged all changes form my branch into #98, hence closing

[2019-04-01 21:23] #90 closed

[2019-04-26 12:59] julillosamaral opened #113 "No docs for entity generation"
No Documentation provided on how to use the tool
I started using jhipster-kotlin and managed to create the app with the data in the Readme page, when I wanted to generate a new entity I did but it was generated as Java. Searching on the issues I saw that the entities are generated as Kotlin and the issue is closed, but no documentation on how to do it is provided.

Related issues: https://github.c

[2019-04-26 18:13] pvliss commented on #113
@julillosamaral While the entity generator + more are done in current master they are not included in the the latest 0.7.0 release. If you want to test it out you will need to follow the [contributing guidelines](https://github.com/jhipster/jhipster-kotlin/blob/master/CONTRIBUTING.md) to build jhipster-kotlin locally and build/link with [jhipster 6.0.0-beta](https://github.com/jhipster/generator-j

[2019-04-26 18:42] julillosamaral commented on #113
Ok, I thought it was already done! Is there an estimate release date for the feature?

Thanks a lot!

[2019-04-27 07:45] pvliss commented on #113
It is done, just not released yet :) . I am sorry but being open source we can not give any dates. We would highly appreciate any feedback though :).

To make the instructions a bit simpler here's what you need to do to test it out:
[code]

[2019-05-04 17:18] eeriksp opened #115 "Gradle Task :bootRun fails: Error: Could not find or load main class"
When running `./gradlew` on Windows 10  using JHipster  6.0.0-beta.0 for a newly created project, the script fails:

[code]

When looking at the bootRun task:

[code]
it seems that the Kotlin directory is not included. I tried to add `"$buildDir/classes/kotlin/main"` at the beginning of the classpath, but although the needed class is clearly there, it made no difference.

Note that `./gradlew boot

[2019-05-04 17:41] sendilkumarn commented on #115
and are you using Java 8 or any other version?

[2019-05-04 17:52] eeriksp commented on #115
Yes, I am using Java 8. I am not sure what you mean by Windows path issue.

Note that `./gradlew bootJar` produces a functional JAR file and running it with `java -jar build/libs/appname-0.0.1-SNAPSHOT.jar` works.

[2019-05-06 07:15] pvliss commented on #115
@eeriksp I think you have hit the same issue as https://github.com/jhipster/generator-jhipster/issues/9572. This has been fixed in JHipster 6.0.0 final release. Can you please try and remove the whole block stating with `if (OperatingSystem.current().isWindows()) { ` and let us know if that works. See also   [here](https://github.com/jhipster/generator-jhipster/pull/9581/commits/acc2eb324e4feb8069

[2019-05-06 11:38] eeriksp commented on #115
Thank you!
This solved the problem :)

[2019-05-06 11:38] #115 closed

[2019-05-06 11:54] pvliss commented on #115
@eeriksp Glad it did and thanks for reporting back!!!

[2019-05-09 17:06] pvliss opened #116 "Update to JHipster 6.0.1 final"
Update to final 6.0.0 release of JHipster.

[2019-05-09 17:08] pvliss commented on #116
@sendilkumarn We are currently synced with 6.0.0.beta and should sync to the final release. I have been meaning to get to this for some time but did not have the time. Have you done any work  on this or should I start updating? Also do you think we should wait for 6.0.1 or would it be easier to have them in separate PRs(as there are a lot of fixes/changes for 6.0.1 as well)?

[2019-05-09 17:11] sendilkumarn commented on #116
We will do it separately. I want to release 1.0.0 this before the end of May.

I did not do anything for 6.0.0 yet. If you havent start anything, I will start something soon

[2019-05-09 17:14] pvliss commented on #116
No I haven't. Been busy lately, sorry.

[2019-05-09 17:16] sendilkumarn commented on #116
Cool no worries. I will have a look 👍

On Thu, 9 May 2019, 19:14 Panayiotis Vlissidis, <notifications@github.com>
wrote:

[2019-05-14 20:46] #64 closed

[2019-05-14 20:47] sendilkumarn commented on #116
Closed #114

[2019-05-14 20:47] #116 closed

[2019-05-14 20:49] sendilkumarn opened #118 "Use the JHipster release instead of master in CI"
Currently, we are using JHipster's master branch as the base when testing in the CI.

Instead use JHipster release version for testing the CI. This will make the build more stable.

cc: @pascalgrimaud this is might be something that interests you ❤️

[2019-05-14 20:50] sendilkumarn opened #119 "Move to Java 11 for Travis and Azure build"
Refer https://github.com/jhipster/generator-jhipster/pull/9539

[2019-05-14 20:54] pascalgrimaud commented on #118
Yes, switch this value to `release` should normally work (I hope !!):
https://github.com/jhipster/jhipster-kotlin/blob/master/.travis.yml#L46-L48

[2019-05-17 08:44] pvliss commented on #119
@sendilkumarn I see you added the `good first issue` label but I do not see anyone interested in doing a PR so thinking of doing one. Do you think we should wait a bit more? Also are you planning to make a beta release soon as I believe most of the work has been done and we could really use some feedback?

[2019-05-17 09:03] pvliss commented on #118
It seems that we cannot use release without also altering the copying part as we re-use the test scripts and examples(more specifically `$JHI_HOME` should be set appropriately). But I think it is better to build against the specific version we support as future releases of JHipster could also potentially brake the build. @sendilkumarn  + @pascalgrimaud What do you think?

[2019-05-17 14:54] #118 closed

[2019-05-17 14:55] sendilkumarn commented on #119
We can do it 👍

[2019-05-18 01:08] unknowedNp opened #121 "Question/FeatureRequest Kotlin beside Java"
Can have kotlin source and java togather ?
write some class with kotlin and other class with java

[2019-05-18 05:10] pvliss commented on #121
@unknowedNp Yes, definitely!!! While KHipster now generates only Kotlin code the generated project supports mixing Java and Kotlin code for both Maven and Gradle builds. You only need to add directory `src/main/java` (or `src/test/java`) and it should work out of the box.

[2019-05-18 13:39] amatosg opened #123 "Messages are duplicated"
## Overview of the issue
Running `khipster entity Category` will show the questions twice, like this:

 ![](https://framapic.org/NPs7JXo2TJME/H5kFmn2V6Ocj)

This also happens when a user is asked if file should be overridden or ignored.

## Motivation for or Use Case
I think this is self-explanatory.

## Reproduce the error
Run `khipster entity Category` or simply `khipster` in an existant project

[2019-05-18 14:48] amatosg opened #124 "Issue template is missing come chars"
## Overview of the issue
1. Each element in the template should start with `##`
2. The check at the end of the ticket should be `-[ ]` so it will be rendered as a checkbox
## Motivation for or Use Case
It makes the final issue more readable
## Reproduce the error
Does not apply
## Related issues
None
## Link to PR (if any)
None
## JHipster Version(s)
Does not apply
-[ ] Checking this box is mandat

[2019-05-18 23:09] amatosg commented on #123
this also happens when running `khipster --import-jdl file.jh`

[2019-05-18 23:28] amatosg opened #125 "JDL import doesn't import entities"
## Overview of the issue
when running `khipster --import-jdl file.jh` entities are not imported and messages are duplicated (as in #123).

A workaround is to copy an existing .jhipster folder and run `khipster --with-entities`

## Motivation for or Use Case
This feature should work as expected ;)

## Reproduce the error
Just run the command :)

## Related issues
#123

## Link to PR (if any)
None y

[2019-05-19 06:15] pvliss commented on #123
@sendilkumarn I believe PR #126 fixes this issue of duplicate invocations.

@amatosg As a workaround you can also replace `khipster` with `jhipster --blueprint kotlin`

[2019-05-19 15:46] #123 closed

[2019-05-19 16:38] unknowedNp commented on #121
oh, thats awesome
can use kotlin in exisiting jhipster project ?

[2019-05-19 18:53] sendilkumarn commented on #121
@unknowedNp You need to add in extra configurations (manually) to `maven` or `gradle` that compiles Kotlin. If you want to use it in an existing project.

[2019-05-19 18:54] sendilkumarn commented on #125
The duplicate issue is fixed in the master.

Sometimes I notice when there is a `.jhipster` folder exists already, the import command does not work as expected. Try deleting the `.jhipster` folder and re-run the generation.

[2019-05-19 18:56] #119 closed

[2019-05-19 19:17] pvliss opened #130 "Configure Sonar to inspect Kotlin source code"
## Overview of the issue
Currently no static code analysis is performed for the generated Kotlin code. We can use [detekt](https://github.com/arturbosch/detekt) along with https://github.com/arturbosch/sonar-kotlin

## Motivation for or Use Case
Perform static code analysis and add reports to Sonar

## JHipster Version(s)
6.0.1

[x] Checking this box is mandatory (this is just to show you read eve

[2019-05-19 20:42] #121 closed

[2019-05-20 14:29] amatosg commented on #125
there was no folder before I ran the import which lead to the error, when I pasted the whole folder it worked.

[2019-05-20 18:53] sendilkumarn commented on #125
This is interesting. We will have to investigate this one. Can you share your `file.jdl`

[2019-05-20 18:54] sendilkumarn commented on #130
That is really a great idea. We should do this.

[2019-05-24 10:33] #130 closed

[2019-05-24 10:35] sendilkumarn commented on #124
Done this. Thanks for raising this issue. 👍
6f2ce1b5b7e06e5da74e875b12d42355c1c7fc4c

[2019-05-24 10:35] #124 closed

[2019-05-24 10:39] sendilkumarn commented on #113
We do have `khipster` available now for installing things. I think this issue can be close. Please feel free to re-open if you think we are still missing something.
Check out the commit    db5f579d0298d134d23c46186045a7a6e9695801

[2019-05-24 10:39] #113 closed

[2019-06-04 13:54] Rotenkampf opened #135 "Misstype in UserFeignClientInterceptor"
## Overview of the issue
Misstype in Kotlin code of UserFeignClientInterceptor
## Motivation for or Use Case
Use AuthorizedUserFeignClient
## Reproduce the error
1. Create microservice architecture with at least one microservice excepting gateway and UAA
2. Create interface annotated with AuthorizedUserFeignClient
3. Create any method in this interface
4. Call it somehow
5. Get 401 http code
6. Pr

[2019-06-04 16:30] amatosg commented on #125
Sorry, I was on vacation. Have you tried with the vanilla jdl from JDL Studio?

[2019-06-04 19:28] pvliss commented on #135
@Rotenkampf Thanks for reporting this. Will have a look at it hopefully tomorrow. In the meantime, in order to help us reproduce and fix the problem faster, you could run `jhipster info` for your generated apps and paste the results here.

[2019-06-04 19:29] pvliss commented on #135
@Rotenkampf Also if you know already have a fix for this then PRs are welcome!!!

[2019-06-05 11:39] Rotenkampf commented on #135
Just created PR https://github.com/jhipster/jhipster-kotlin/pull/136

[2019-06-08 09:44] plank-tools commented on #125
@amatosg I'm sure the vanilla jdl is pretty well-tested.

[2019-06-08 18:49] amatosg commented on #125
@plank-tools did **you** tried?

[2019-06-09 16:10] pvliss commented on #125
@amatosg I just checked and I can not reproduce the problem. I think it has been solved with #126 which is available since 0.8.1. BTW, the proper command is `khipster import-jdl file.jh` (note the missing `--`). Can you please give another try and let us know if you still face the same issue?

[2019-06-12 23:57] #135 closed

[2019-06-14 06:50] pvliss opened #139 "Convert usages of Optional to Kotlin built-in null safety features"
## Overview of the issue
Convert usage of Java's `Optional` to the Kotlin built-in null safety features.

## Motivation for or Use Case
As the bulk of the Java code is now migrated to Kotlin we can start fully migrating to Kotlin using more of its built-in features. This might seem as it should have been done already but it was intentionally left out to ease the process of migration(#85) and made

[2019-06-14 06:52] pvliss opened #140 "Convert usage of `Objects.equals` to equality operator"
## Overview of the issue

There are some usages of `Objects.equals` that can be replaced by simple `==` operator.

- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-06-14 06:55] pvliss commented on #140
@sendilkumarn Could you add some labels for the issues. e.g. this one could be labeled with 'good first issue'?

[2019-06-14 07:50] pvliss opened #141 "Upgrade to JHipster 6.1.2"
## Overview of the issue

Upgrade to [JHipster 6.1.2](https://www.jhipster.tech/2019/06/23/jhipster-release-6.1.2.html).

[Changes from 6.1.2](https://github.com/jhipster/generator-jhipster/compare/v6.0.1..v6.1.2)

## JHipster Version(s)
6.1.2
- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-06-15 16:02] amatosg commented on #125
@pvliss yeap, you are correct, this is working properly as of 0.8.1 :)

[2019-06-15 16:02] #125 closed

[2019-06-15 16:04] pvliss commented on #125
@amatosg Great!!! Thanks for the update

[2019-06-15 16:05] pvliss commented on #140
@sendilkumarn Thanks for adding the labels :+1:

[2019-06-16 00:38] andre-stefanov opened #143 "Use @Suppress("unused") instead of @SuppressWarnings("unused") in generated repositories"
## Overview of the issue
At the moment generated repositories use @SuppressWarnings annotations to suppress unused function warnings. [@Suppress](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-suppress/index.html) should be used instead.

[code]
[code]
## Motivation for or Use Case
Using the correct annotation would reduce lint warning count of the generated project.
## Reproduce the error
C

[2019-06-16 17:37] TheJavaGuy opened #145 "Project created without user management doesn't compile"
## Overview of the issue
JHipster project generated with Kotlin blueprint and without user management doesn't compile.

## Motivation for or Use Case
Sometimes we don't need user management in the project. Therefore, classes related to it shouldn't be created.

## Reproduce the error
[code]

Last step (compilation) fails with messages:
[code]

## Related issues
None.

## Link to PR (if any)
None.

[2019-06-17 05:04] pvliss commented on #143
Thanks for reporting @andre-stefanov and you are absolutely right!!! Would you be interested in submitting a PR?

[2019-06-17 05:06] pvliss commented on #145
Thanks for reporting @TheJavaGuy. Would be interested in submitting a PR otherwise I will have a look at it?

[2019-06-17 07:31] TheJavaGuy commented on #145
You're welcome @pvliss. Can you please look at it? My Kotlin skills are unfortunately still very low and I don't feel confident diving into this.

[2019-06-17 07:56] pvliss commented on #145
@TheJavaGuy No problem. Will have a look at it when I get the chance. In the future don't hesitate to do so and we are always here to help out when needed.

[2019-06-18 22:03] #140 closed

[2019-06-20 10:25] skadoor opened #149 "khipster hangs in first step"
## Overview of the issue
## Motivation for or Use Case
## Reproduce the error
## Related issues
## Link to PR (if any)
## JHipster Version(s)

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2019-06-20 11:25] pvliss commented on #149
@skadoor Please share some information so that we can try and evaluate what the problem is

[2019-06-20 12:24] pvliss commented on #149
Ok, so scratch that. It does indeed block when asking for the app name. BTW, the same thing happens when simply using `jhipster`. I have tried with both 6.0.1 and 6.1.0 and it has the same behavior.

@jhipster/developers Can someone else please also check as well as this seems serious to me but it could also be env specific. Will continue inspecting

[2019-06-20 12:57] PierreBesson commented on #149
@pvliss When faced with this kind of issue, it is the project policy to immediately close them with this copy/paste template: https://github.com/jhipster/generator-jhipster/blob/master/.github/MAINTAINERS_REPLY_TEMPLATES/GUIDELINES_NOT_FOLLOWED.md

Even though it might be a real bug. We cannot justify spending our time on issues where the users did not even bother to follow the few rules we have.

[2019-06-20 13:14] pvliss commented on #149
Thanks @PierreBesson. Will do that from now on. Nevertheless, it seems to me that this is a real issue and it affects jhipster as well and that really worries me. So if someone would be so kind to also try to replicate I would be really grateful

Steps to reproduce:
1. `npm install -g generator-jhipster`
2. `mkdir temp && cd temp`
3. `jhipster`
4. Select an app type. For me it does not matter
5. A

[2019-06-20 13:22] PierreBesson commented on #149
You are right ! I have reproduced the bug with node 8 and 10. This must be a transitive dependency wreaking havoc ! Thank you NPM 😡 !

[2019-06-20 13:26] shivkadoor commented on #149
sorry guys, issue got submitted accidentally while browsing before the template was filled by me. thanks @pvliss  and  @PierreBesson for providing details

[2019-06-20 13:27] pascalgrimaud commented on #149
@pvliss : can you open a new issue in main generator plz ? It is not our fault, but it is important and probably need a urgent release!

[2019-06-20 13:27] pascalgrimaud commented on #149
Same as @PierreBesson , I managed to reproduce the issue, using https://github.com/jhipster/jhipster-guides

[2019-06-20 13:28] pvliss commented on #149
This is really weird and I have now spent the last 30 mins or so trying to figure how to debug it but nothing works up until now :disappointed: .
My last effort is to execute through the terminal using `node --inspect /home/pav/.nvm/versions/node/v10.15.2/bin/jhipster` and then attach a remote debugger from IDEA. The debugger attaches but the breakpoints do not work and I can not get a thread dump

[2019-06-20 13:29] pvliss commented on #149
@pascalgrimaud Yes, creating now...

[2019-06-20 23:16] #143 closed

[2019-06-20 23:20] sendilkumarn commented on #149
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1.  our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2.  the ["create a new ticket" page](https://github.com/jhipster/generato

[2019-06-20 23:20] #149 closed

[2019-06-21 06:07] pvliss commented on #141
Will start working on this

[2019-06-21 06:09] pvliss opened #153 "Use single expression functions"
## Overview of the issue
Use [single expression functions](https://kotlinlang.org/docs/reference/functions.html#single-expression-functions) where possible

## Motivation for or Use Case
Simplify generated code

- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-06-21 06:13] pvliss commented on #141
Although as there will be a new version coming soon will update both in one pass and update the title and description accordingly

[2019-06-21 07:19] sendilkumarn commented on #141
Awesome @pvliss 👍

I guess there is also 1.3.40 released.

[2019-06-21 07:22] pvliss commented on #141
Yes there is a new release. Would you like me to make a PR for it? If so, we could also make a new release including #152. WDYT?

[2019-06-21 07:24] sendilkumarn opened #154 "Upgrade to Kotlin 1.3.40"
## Overview of the issue

Lets upgrade to Kotlin 1.3.40 release. Check for the library compatibilities.

## Motivation for or Use Case
[1.3.40 released](https://blog.jetbrains.com/kotlin/2019/06/kotlin-1-3-40-released/)

## Reproduce the error
NA

## Related issues
NA

## Link to PR (if any)
[Sample PR](https://github.com/jhipster/jhipster-kotlin/pull/127)

## JHipster Version(s)
NA

- [x] Checkin

[2019-06-21 07:25] sendilkumarn commented on #141
Sure @pvliss

I created a ticket for Kotlin upgrade #154

[2019-06-21 07:25] pvliss commented on #141
Thanks @sendilkumarn

[2019-06-21 07:26] pvliss commented on #153
@sendilkumarn This should also be fairly simple. Can you add some labels here as well as I am not allowed to add them?

[2019-06-21 07:27] sendilkumarn commented on #153
I love this and it makes the code concise 👍

[2019-06-21 07:27] sendilkumarn commented on #153
@pvliss done that just now

[2019-06-21 07:28] pvliss commented on #153
@sendilkumarn I agree and thanks

[2019-06-23 07:49] corneil opened #155 "Compile error in Mapper"
## Overview of the issue
I added dto * with mapstruct to project and a generated Mapper had a compile error.
[code]
The comma after Mapping line
jhipster 6.1.1 and khipster 0.8.1

- [X] Checking this box is mandatory (this is just to show you read everything)

I don't have other OneToMany relationships.

Entity json
[code]

[2019-06-23 08:07] corneil commented on #155
When I swap the ManyToMany around it is generated correctly.

[2019-06-23 14:16] amatosg commented on #155
I don't this should be closed as the error is still there

[2019-06-24 19:42] #154 closed

[2019-06-24 19:45] #145 closed

[2019-06-25 07:28] pvliss commented on #155
@corneil That is interesting. Would you mind posting a JDL that exhibits the problem to try and reproduce?

[2019-06-25 11:50] sendilkumarn commented on #155
Oops sorry you have this error. Can you give some more information? I will reopen the ticket too.

[2019-06-25 21:51] leonardortlima opened #161 "Declare utility functions as top level"
## Overview of the issue

Declare utility functions, like the ones in `DefaultProfileUtil` and `RandomUtil` as [top level functions](https://kotlinlang.org/docs/reference/functions.html#function-scope)

## Motivation for or Use Case

It is the [recommended practice](https://discuss.kotlinlang.org/t/best-practices-for-top-level-declarations/2198) for such cases  to always use top-level when possibl

[2019-06-26 05:24] pvliss commented on #161
@leonardortlima Thanks for the suggestion. Majority of this work has been done already in master(have a look at #138) but has not been release yet. will be available on the next version. What has not been done though is using `@file:jvmName` and also the main application class. Would you be interested in submitting a PR?

[2019-06-26 10:11] leonardortlima commented on #161
Sure, I'd be happy to help!

[2019-06-26 10:34] pvliss commented on #161
Great, thanks!!! Let us know if you need any help

[2019-06-26 10:42] Oleg25 opened #162 "Gateway app"
Hello. Ple I just generate new project (gateway app with uaa) and start it after some seconds i've got this error

Same project in java works fine

i have consul an uaa(jhipster)

![image](https://user-images.githubusercontent.com/2542786/60173250-f7773d00-9816-11e9-8808-ccee753e656f.png)

   : UT005023: Exception handling request to /management/health

java.lang.IllegalStateException: super.extra

[2019-06-26 11:02] pvliss commented on #162
@Oleg25 Thanks for reporting. I believe this is fixed in master(see #137). Until a new version is release can you try changing the return type of `CookieTokenExtractor.extractToken` to `String?`. See here for full `CookieTokenExtractor`:
[code]

[2019-06-26 20:35] leonardortlima commented on #161
I opened #163 which covers the utility classes.

I was playing around with making main top level too:

- Simply making `main` top level does not work; It is not longer picked up by maven / gradle because the main class name would be different.

- Adding `@file:JvmName` won't work because the class ends up being duplicated.

One possible solution is to change the main class name in gradle, maven an

[2019-06-27 06:09] pvliss commented on #161
This is also the reason why I left it out initially and that would probably require a lot of changes in the code of the base generator to do it properly or during generation to find and replace the main within the required files(but feels hackish to me).  The other alternative would be to keep the `@file:JvmName` using the `<%= mainClass %>` name and rename the actual class within the file to some

[2019-06-27 07:05] #141 closed

[2019-06-27 10:54] pvliss commented on #153
Going to start working on this one

[2019-06-27 12:55] Oleg25 commented on #162
Thank u

[2019-06-28 05:55] sendilkumarn commented on #162
@Oleg25 Did you re-opened it accidentally

[2019-06-28 05:55] #162 closed

[2019-06-28 08:44] Oleg25 commented on #162
Yes i did, sorry

[2019-07-02 07:27] Hawkurane opened #166 "CLI not working with locally installed master"
## Overview of the issue
Installing the master version of the blueprint locally and using the master version of the generator, the CLI does not work:
`**WARNING!** Could not retrieve version of blueprint 'generator-jhipster-kotlin' `

This probably comes from the following function:
https://github.com/jhipster/jhipster-kotlin/blob/98620d21db628faff42fcefe96b0c38279c96ac0/cli/khipster.js#L58-L71

I

[2019-07-02 09:25] Hawkurane commented on #166
Nevermind, I've made it work. I was confused because of how the CLI works:
you need to reach the question after the baseName to see if you're using the blueprint correctly.
I don't think it is intuitive, we could make it a bit clearer by, for example changing the JHIPSTER banner into KHIPSTER or display the log where the blue print is succesfully loaded before the questions.

[2019-07-02 09:25] #166 closed

[2019-07-03 14:09] sendilkumarn commented on #161
I do feel the same.  I would be very interested to see what Kotlin community is advocating for Spring... Might be a good candidate to discuss with them too.

[2019-07-04 20:02] #153 closed

[2019-07-29 21:07] davidlj95 opened #168 "Heroku sub-generator fails to build with Gradle as build tool"
## Overview of the issue

For an app with `gradle` as the build tool, when using the `heroku` sub-generator with `khipster` (`khipster heroku`):

It will fail building the application for further deploy, as will try to use a `mvn` command but the build tool selected was `gradle`.

## Motivation for or Use Case

Deploying to `heroku` with a `gradle` + `kotlin` monolithic app.

## Reproduce the erro

[2019-07-31 16:23] sendilkumarn commented on #168
Thanks for the detailed report @davidlj95

This seems like an issue with `jhipster heroku` command. Let me check whether I can create a PR there.

👍 for the workaround.

[2019-08-02 11:35] sendilkumarn opened #170 "Upgrade the CLI to version JHipster 6.2.0"
## Overview of the issue

Upgrade to [JHipster 6.2.0](https://www.jhipster.tech/2019/08/01/jhipster-release-6.2.0.html).

[Changes from 6.2.0](https://github.com/jhipster/generator-jhipster/compare/v6.1.2..v6.2.0)

## JHipster Version(s)
6.2.0
- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-08-08 07:28] #170 closed

[2019-08-13 16:40] amatosg opened #176 "Add documentation for testing master"
## Overview of the issue
At the moment there are (maybe) many features in master that hasn't been released yet and could not be tested
## Motivation for or Use Case
The documentation should include steps to test the master branch, this will increase `master` usage and will help find bugs faster
## Reproduce the error
Read the docs :)
## Related issues
None
## Link to PR (if any)
None
## JHipster V

[2019-08-13 19:34] sendilkumarn commented on #176
Thanks for opening the issue. The simplest way is this https://github.com/jhipster/jhipster-kotlin/pull/171#issuecomment-520898792

More detailed step is here https://github.com/jhipster/jhipster-kotlin/blob/master/CONTRIBUTING.md

[2019-08-13 20:42] amatosg commented on #176
I think I don't have rights to edit issue templates :disappointed:

[2019-08-13 20:57] ruddell commented on #176
@amatosg The issue template is a file in the repository in the `.github` folder, see https://github.com/jhipster/jhipster-kotlin/blob/master/.github/ISSUE_TEMPLATE.md

[2019-08-13 21:58] amatosg commented on #176
one thing it's not clear (at least for me) is how do I unlink `generator-jhipster` so I don't use the master branch?

[2019-08-14 07:06] sendilkumarn commented on #176
AFAICT you should not link it in jhipster-kotlin folder

[2019-08-14 15:22] amatosg commented on #176
[step 3 says so](https://github.com/jhipster/jhipster-kotlin/blob/master/CONTRIBUTING.md#step-3-%EF%B8%8F--to-setup-jhipster-kotlin-generator) :confused:  :
`npm link generator-jhipster`

[2019-08-16 06:34] kozub commented on #139
Hello Team,

I've started working on that issue. It looks that there are 19 Kotlin classes that produces / uses Optional + classes that consumes producer code.

I've started with classes that are generated for now simple microservice which contains 6 classes with Optionals. I will create PR soon to show that changes.

[2019-08-20 05:52] arabbani opened #179 "Error running KHipster command"
## Overview of the issue
Khipster is reporting that the `generator-jhipster-kotlin` is not installed while running the `khipster` command, even though `generator-jhipster-kotlin` is installed.

## Motivation for or Use Case
Here is the full cli output:
`
khipster
INFO! Using JHipster version installed globally
INFO! Running default command
INFO! Executing jhipster:app
INFO! Options: blueprints: ko

[2019-08-20 07:04] pvliss commented on #179
Thanks for reporting @arabbani . I believe you have hit a known issue https://github.com/jhipster/generator-jhipster/issues/10223 which has already been fixed in master of the main gnerator. As a workaround can you please try installing `generator-jhipster-kotlin` locally and see if it works?

[2019-08-20 07:27] arabbani commented on #179
Sure @pvliss . I will try this

[2019-08-21 05:58] liefra commented on #179
A local install with `npm i generator-jhipster-kotlin` solved the issue for me on a Mac

[2019-08-21 07:03] xiaoguizi87 commented on #179
A local install with npm i generator-jhipster-kotlin solved the issue for me on a Windows 10 pc

[2019-09-07 15:14] mrts commented on #64
See also https://github.com/jhipster/jhipster-vuejs/issues/369 - in certain circumstances you have to install both the blueprint and *yo* **locally** with

[code]

(note the omission of `-g`) to make it work.

[2019-09-13 22:27] JLLeitschuh opened #183 "[SECURITY] CWE-338: Vulnerability in JHipster Kotlin"
Due to the uncontrolled nature of the previous full disclosure of this vulnerability in `jhipster-kotlin` this is an 0-Day vulnerability disclosure for jhipster-kotlin.

See: https://github.com/jhipster/generator-jhipster/issues/10401
https://github.com/jhipster/generator-jhipster/security/advisories/GHSA-mwp6-j9wf-968c

There is currently no patch available at this time.

---

# [CWE-338: Use of

[2019-09-14 04:10] atomfrede commented on #183
I can provide the patch right now (like in the jhipster kotlin advisory) but some needs to merge that or we just merge the one from the advisory, sadly I don't have permission

[2019-09-14 09:20] pvliss commented on #183
I believe @sendilkumarn can merge

[2019-09-14 12:52] arabbani commented on #179
I have upgraded to jhipster v6.3.0. Still not working

[2019-09-14 13:06] arabbani opened #187 "Error running jhipster --blueprint kotlin command"
##### **Overview of the issue**

Jhipster is reporting that the `generator-jhipster-kotlin` is not installed while running the ` jhipster --blueprint kotlin` command, even though `generator-jhipster-kotlin` is installed.

Here is the full cli output:
`
jhipster --blueprint kotlin
INFO! No custom commands found within blueprint: generator-jhipster-kotlin
INFO! Using JHipster version installed globa

[2019-09-14 18:54] atomfrede commented on #183
Until we have a new release there is workaround everyone should apply asap. Change you `RandomUtil.kt` like follows.

Important is to exchange every call of `RandomStringUtils.randomAlphaNumeric` with `generateRandomAlphanumericString()`

[code]

[2019-09-16 06:20] arabbani commented on #179
Any word on this?

[2019-09-16 06:21] mikebski opened #186 "jjwt-api and jjwt-impl are scope -> runtime causing java.lang.NoSuchMethodError: 'int io.jsonwebtoken.SignatureAlgorithm.getMinKeyLength()'"
##### **Overview of the issue**

When I generate my project, I get the following in my POM
[code]

I build with ` ./mvnw package -Pprod verify jib:dockerBuild`

Then, I run in Docker with ``

Then, I get this:

##### **Motivation for or Use Case**

It's a bug b/c it should work in Docker...

##### **Reproduce the error**

See the bug description

##### **Related issues**

None found

##### **Sugge

[2019-09-16 06:55] arabbani commented on #187
I think the problem is with generator-jhipster. Because jhipster is unable to reference the blueprint although the blueprint is installed.

[2019-09-23 18:19] sendilkumarn opened #188 "Upgrade the CLI to version JHipster 6.3.0"
## Overview of the issue

Upgrade to [JHipster 6.3.0](https://www.jhipster.tech/2019/09/13/jhipster-release-6.3.0.html).

[Changes from 6.3.0](https://github.com/jhipster/generator-jhipster/compare/v6.2.0..v6.3.0)

## JHipster Version(s)
6.3.0
- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-10-02 15:55] #188 closed

[2019-10-02 15:55] #183 closed

[2019-10-06 15:37] sendilkumarn commented on #155
Closing the issue. @amatosg If you still find the error is there, please feel free to re-open the issue with JDL information. Thanks

[2019-10-06 15:37] #155 closed

[2019-10-06 15:41] sendilkumarn commented on #176
@amatosg Thanks for highlighting and sorry for the delay. Amended the contents 👍

[2019-10-06 15:41] #176 closed

[2019-10-06 17:47] sendilkumarn commented on #179
Check out the latest version and use `khipster`.  Please feel free to re-open if you still have a problem.

[2019-10-06 17:47] #179 closed

[2019-10-06 17:47] sendilkumarn commented on #187
Refer #179

[2019-10-06 17:47] #187 closed

[2019-10-06 17:48] arabbani commented on #179
Ok.

[2019-10-06 18:02] sendilkumarn commented on #186
Interesting, can you check this with the latest version?

[2019-10-06 18:35] arabbani commented on #179
Still not working. I have used khipster command

[2019-10-06 19:21] sendilkumarn commented on #179
Can you please post the error log?

[2019-10-07 03:53] arabbani commented on #179
khipster
INFO! Using JHipster version installed globally
INFO! Running default command
INFO! Executing jhipster:app
INFO! Options: blueprints: kotlin, from-cli: true

        ██╗ ██╗   ██╗ ████████╗ ███████╗   ██████╗ ████████╗ ████████╗ ███████╗
        ██║ ██║   ██║ ╚══██╔══╝ ██╔═══██╗ ██╔════╝ ╚══██╔══╝ ██╔═════╝ ██╔═══██╗
        ██║ ████████║    ██║    ███████╔╝ ╚█████╗     ██║    ██████╗   █

[2019-10-07 03:53] arabbani commented on #179
I'm using windows 10.

[2019-10-07 05:29] sendilkumarn commented on #179
This is interesting. Can you try uninstalling the JHipster generator and re-install kotlin generator and try

[2019-10-07 05:31] arabbani commented on #179
Trying. Will let you know

[2019-10-07 05:39] arabbani commented on #179
Ok. I re-installed everything. Same problem

[2019-10-07 05:40] arabbani commented on #179
I'm using yarn

[2019-10-07 06:35] sendilkumarn commented on #179
Did you install generator-jhipster too? if yes, please uninstall and try.

if no, please post the output of `khipster info`

[2019-10-07 08:07] arabbani commented on #179
I have uninstalled generator-jhipster. Same problem.

[2019-10-07 08:07] arabbani commented on #179
Here is the result of khipster info:

`λ khipster info
INFO! Using JHipster version installed globally
INFO! Executing jhipster:info
INFO! Options: blueprints: kotlin, from-cli: true
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

cat: no such file or directory: .yo-rc.json

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder*

[2019-10-07 08:49] sendilkumarn commented on #179
Do you happen to have `JHipster-kotlin` package inside here `C:\Users\Arif Rabbani\AppData\Local\Yarn\Data\global\node_modules\` ?

[2019-10-07 08:50] arabbani commented on #179
Yes

[2019-10-07 13:36] arabbani commented on #179
Is there a problem?

[2019-10-07 13:53] sendilkumarn commented on #179
There is no call to the generator-jhipster-kotlin in the files provided.

[2019-10-07 13:57] arabbani commented on #179
What do i do

[2019-10-11 07:31] sendilkumarn opened #193 "Upgrade the CLI to version JHipster 6.4.1"
## Overview of the issue

Upgrade to [JHipster 6.4.0](https://www.jhipster.tech/2019/10/10/jhipster-release-6.4.0.html).
Upgrade to [JHipster 6.4.1](https://www.jhipster.tech/2019/10/11/jhipster-release-6.4.1.html).

[Changes for 6.4.0](https://github.com/jhipster/generator-jhipster/compare/v6.3.1..v6.4.0)
[Changes for 6.4.1](https://github.com/jhipster/generator-jhipster/compare/v6.4.0..v6.4.1)

[2019-10-13 15:11] mishkaechoes opened #194 "Kubernetes Support 6.4.1 fails to find database and more"
##### **Overview of the issue**
Attempted to generate monolith with multiple different configurations. After running jhipster kubernetes a consistent error would result from not being able to identify the prod database:

ERROR! Error: Copying template db/undefined.yml.ejs failed. [Error: ENOENT: no such file or directory, open '/..../node_modules/generator-jhipster/generators/kubernetes/templates/

[2019-10-14 07:44] sendilkumarn commented on #194
@mishkaechoes the current supported version of JHipster is 6.3.1

We have an open ticket for upgrading the generator to support 6.4.1 #193

[2019-10-14 20:35] gabrielclima commented on #186
I have the same problem.

[2019-10-22 05:32] #193 closed

[2019-10-22 06:13] pascalgrimaud commented on #193
added a bounty on this, as there is a lot of work

[2019-10-23 06:43] sendilkumarn commented on #161
This will need a lot of changes (or hacks) in the sub-generator. We will close this. When the main generator supports these kind of changes we will add this in future. Feel free to re-open the issue, if you feel otherwise.

[2019-10-23 06:43] #161 closed

[2019-11-03 21:25] demetrio812 commented on #194
Hello @sendilkumarn , I'm using the latest versions of jhipster (6.4.1) and jhister-kotlin (1.3.0) and it's still happening, any hint?

Thanks

[2019-11-05 20:06] sendilkumarn opened #201 "Upgrade the generator to Spring boot 2.2.0"
## Overview of the issue

We should upgrade the generator to the latest version of Spring Boot.

This will probably a huge change we will try to achieve this progressively.

Refer: https://github.com/jhipster/generator-jhipster/tree/spring-boot_2.2

[2019-11-05 20:15] sendilkumarn opened #202 "Upgrade to latest JHipster 6.5.0 -> 6.6.0"
## Overview of the issue

[Changes from 6.4.1](https://github.com/jhipster/generator-jhipster/compare/v6.4.1..v6.5.0)

## JHipster Version(s)
master
- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-11-05 20:17] sendilkumarn opened #203 "Enable GitHub actions CI"
## Overview of the issue
Currently the CI is setup only with Travis and Azure, we should use GitHub actions.

## Motivation for or Use Case

Better and Faster CI

## Reproduce the error
NA

## Related issues
NA

## Link to PR (if any)
NA

## KHipster Version(s)
NA
- [x] Checking this box is mandatory (this is just to show you read everything)

[2019-11-08 01:48] mikebski commented on #186
OK, I finally sorted this out.

I did a `mvn dependency:tree` and saw that the Twilio SDK was including an older version of this jet business so the class path had 2 versions on it. This did the trick:

    <dependency>
            <groupId>com.twilio.sdk</groupId>
            <artifactId>twilio</artifactId>
            <version>7.42.0</version>
            <exclusions>
                <exclusion>

[2019-11-08 06:32] vishal423 commented on #203
@sendilkumarn, let me know if you need help here. I can spend some time over weekend.

[2019-11-08 07:25] sendilkumarn commented on #203
@vishal423 please feel free to take this. Thanks 🙂

[2019-11-08 16:26] jgrgt opened #204 "Regenerate creates Java app"
## Overview of the issue
First generate your project using the kotlin (and vue) blueprint. Then change authenticationType to 'session' in .yo-rc and run 'jhipster' again. This generates a bunch of new Java files instead of (re)genating the kotlin files. (This includes the 'app' file.)
## Motivation for or Use Case
I want to switch to a different authentication type.
## Reproduce the error
See over

[2019-11-11 07:33] #203 closed

[2019-11-13 08:56] sendilkumarn commented on #204
Thanks @jgrgt for raising the issue. I too recently saw this happening, but in my case I was using locally linked master branch of both `K and J Hipster`

Are you using locally linked version?

[2019-11-13 10:27] jgrgt commented on #204
Hi @sendilkumarn
I was using JHipster releases, no local branch. I ran it like this: `jhipster app --blueprints kotlin,vuejs`

[2019-11-19 15:28] julillosamaral opened #207 "Controllers integration tests are generated in Java instead of Kotlin"
## Overview of the issue
Each time I create a new resource it generates the integration tests with Java code instead of Kotlin code
## Motivation for or Use Case
Fix an issue I've seen many times and is not fixed or reported
## Reproduce the error
Generate a new Controller from the console executing `khipster spring-controller <controller-name>`
## https://github.com/jhipster/jhipster-kotlin/pull/

[2019-11-21 17:04] julillosamaral commented on #207
Fixed and merged!

[2019-11-21 17:04] #207 closed

[2019-12-05 14:32] julillosamaral commented on #139
Is there a way I can help with this?

[2019-12-22 18:13] rburgst opened #210 "CacheConfiguration is missing HibernatePropertiesCustomizer"
## Overview of the issue

The problem is that Hibernate is not initialized with the correctly initialized CacheManager. This causes classloading issues when using spring-boot-devtools (which are VERY hard to track down).

The solution is to add

https://github.com/jhipster/generator-jhipster/blob/d3ca4348c6289715316f1a5397af426579c0549a/generators/server/templates/src/main/java/package/config/Cach

[2019-12-27 19:24] CodingSpiderFox opened #211 "CacheConfiguration.kt is not generated correctly"
## Overview of the issue

I tried to generate a new microservices application with jhipster-kotlin.
It cannot be built.

See the log:

[code]

- [X] Checking this box is mandatory (this is just to show you read everything)

[2019-12-31 08:30] sendilkumarn commented on #210
This is closed by d40a746

Thanks for raising it 👍

[2019-12-31 08:30] #210 closed

[2019-12-31 08:30] sendilkumarn commented on #202
Closed by #208

[2019-12-31 08:30] #202 closed

[2019-12-31 09:11] sendilkumarn commented on #211
Thanks for reporting the issue. This will be fixed in the next release. Currently the master has the fix.

[2019-12-31 09:26] CodingSpiderFox commented on #211
Nice!

How can I install the new version from the master branch on my computer?

[2020-01-02 07:26] sendilkumarn commented on #211
Use the latest 1.4.0 version. This should be automatically fixed. Feel free to re-open the issue, if you are facing it again. Thanks :)

[2020-01-02 07:26] #211 closed

[2020-01-02 07:28] sendilkumarn commented on #204
@jgrgt Sorry, I cannot replicate the issue (without using locally linked NPM packages). Do you have any steps or scenarios in which this happens?

[2020-01-02 08:02] CodingSpiderFox commented on #211
Thanks
How can I check the installed version or upgrade?

[2020-01-04 08:22] CodingSpiderFox commented on #211
Ping

[2020-01-04 15:25] sendilkumarn commented on #211
upgrade

`npm I -g generator-jhipster-kotlin`

[2020-02-03 09:21] anthonyrichir commented on #5
Hello,

Sorry to bring up this old ticket but was there any reason for not using data classes in the first place ?
It doesn't seem like a big change in the generator.

I created a sample project with a couple of entities and several relationships, rerun the build and it was successful.

[2020-02-07 15:42] HenningThiemann commented on #204
@jgrgt : you should use khipster for regenerating

[2020-02-17 14:48] cristisp opened #216 "Are there plans to keep this alive? The Java generator has moved to v6.7.1"

[2020-02-17 23:11] sendilkumarn commented on #216
Hi @cristisp The 6.7.1 is a huge change. It will take sometime for me to change everything and do a release. I will be more than happy to accept any PRs :)

cc: @jhipster/developers

[2020-02-18 09:35] cristisp commented on #216
@sendilkumarn Thanks for the update - just wasn't sure if this is still in active development or not. Perhaps setting a milestone would help.

[2020-02-19 15:00] gmarziou commented on #216
@cristisp last commit is from 2 months ago, so you should not worry too much :)

[2020-02-26 18:14] mraible commented on #216
@sendilkumarn I'm curious. How do you update this blueprint to stay current JHipster? I'd like to help if I can.

[2020-02-26 21:00] sendilkumarn commented on #216
Honestly I do not have a valid strategy. I first update the server template and then will update the entity templates.

But I am thinking whether we should do a PR by PR update (matching JHIpster's PR). WDYT?

[2020-02-26 22:02] mshima commented on #216
If I may suggest, there are 2 proposed features that may help keeping kotlin blueprint updated:
- https://github.com/jhipster/generator-jhipster/issues/11173:
This will allow to create a blueprint for additional contents. Ex every file needed by Kotlin.
- https://github.com/jhipster/generator-jhipster/pull/11337:
This is a renaming/filtering strategy.
So Its possible to ignore every file ending wi

[2020-02-26 23:33] sendilkumarn commented on #216
@mraible also we are blocked by this https://github.com/spring-projects/spring-framework/issues/20606

[2020-02-29 08:24] sendilkumarn commented on #204
Closing this. @jgrgt feel free to reopen if you still have the issue.

[2020-02-29 08:24] #204 closed

[2020-02-29 10:05] #201 closed

[2020-02-29 10:56] #216 closed

[2020-02-29 10:57] sendilkumarn opened #218 "Upgrade the CLI to version. JHipster 6.7.1"

[2020-03-16 09:08] pascalgrimaud opened #224 "Add release drafter"
Similar to https://github.com/jhipster/jhipster-vuejs/issues/507
With this, you can have this kind of release note: https://github.com/jhipster/jhipster-vuejs/releases

I'm waiting generator-jhipster@v6.9.0 and I will probably add this to main generator-jhipster too.

@sendilkumarn : would you want me to add this?

[2020-03-16 09:56] sendilkumarn commented on #224
Awesome. We can add it.

Also I am thinking to release the packages in the GitHub registry too. But I don't have access for that. Can you help with that?

[2020-03-16 10:10] pascalgrimaud commented on #224
Ok, I'll work on the release drafter later

About GitHub Registry package, I don't know at all how it works.
Let's open a new ticket and I'll try to read some documentation to know how I can activate it

[2020-03-16 10:20] pascalgrimaud opened #225 "GitHub Packages"
As asked by @sendilkumarn - see https://github.com/features/packages

[2020-03-16 10:40] pmverma commented on #224
my 2 cents.
@pascalgrimaud
We do need to activate it. It is already available with every repository, we just need to push artifacts/packages to it and it is ready.
One minor thing with GPR is that we need to configure this custom repo in every ecosystem we want to use.
IMO using this as a secondary hosting would be better.

[2020-03-16 10:50] pascalgrimaud commented on #224
thanks @pmverma, so I need to check @sendilkumarn's permissions

[2020-03-16 12:06] pmverma commented on #224
@pascalgrimaud
I missed negation operator.

We do **NOT** need to activate it. 😀

[2020-03-16 14:36] mshima commented on #225
@pascalgrimaud probably package registry would fit to generator-jhipster too.
I am not sure but probably it would allow us to publish a snapshot at each commit and them trigger daily-build builds.

https://developer.github.com/v3/activity/events/types/#packageevent

[2020-03-16 14:58] pascalgrimaud commented on #225
yes sure, I wanted to do this, but I'd prefer to "test" with some blueprint before, like jhipster-kotlin or jhipster-vuejs and if it works well, we can do the same for generator-jhipster

[2020-03-17 07:55] sendilkumarn commented on #225
I am +1 for experimenting here 👍🎉

[2020-03-18 08:08] pascalgrimaud commented on #225
I am not sure, but probably it would allow us to publish a snapshot at each commit and them trigger daily-build builds.

Of course @mshima but I'd prefer baby steps. Let's test this with a smaller project before doing it with a big project like generator-jhipster :-D

[2020-03-21 22:04] #224 closed

[2020-04-19 13:55] Romancha opened #230 "Gradle + kotlin + liquibase diff not working"
## Overview of the issue
Gradle + kotlin + liquibase diff not working as expected
## Motivation for or Use Case
I think that this should work out of the box, without additional configurations, since this kotlin-hipster
## Reproduce the error
1. Generate khipster project with gradlew
2. Start application and stop application
3. Do some changes in domain entities - add new field in existing entity o

[2020-05-03 19:33] mraible opened #231 "Use build.gradle.kts for Gradle"
## Overview of the issue

I think it'd be a cool feature to use Kotlin for the `build.gradle` file.

## Motivation for or Use Case

It might not be a huge value-add, but I've enjoyed working with Kotlin in my Gradle build in a recent project.

## Related issues

If you agree this is a good idea, I can create an issue in the main JHipster project to add a bug bounty to it. I'd also be happy to help

[2020-05-03 20:32] atomfrede commented on #231
You would like to do it for the main generator too or just the kotlin blueprint or try it here and eventually do it in the main generator?

[2020-05-03 21:48] mraible commented on #231
I think it makes sense to only do it for KHipster. It took me a while to figure out how to use it. @bsautel was a huge help! https://github.com/node-gradle/gradle-node-plugin/issues/98

[2020-05-04 07:37] sendilkumarn commented on #231
Yeah I have been thinking about this for a while. The main problem is that we have to change the Gradle files based on the master changes. I am not sure whether it is worth the effort.

Can we partially use Gradle file in Kotlin?

[2020-05-04 07:43] sendilkumarn commented on #230
Thanks for the detailed issue. This is indeed a bug, we have to fix this. Would you be willing to send a PR for this?

[2020-06-03 21:13] StaticallyTypedRice opened #232 ""JSON conversion problem: Parameter specified as non-null is null" is thrown when trying to reference one JDL entity from another entity."
## Overview of the issue

When two entities have a one-to-many relationship and you try to set the reference to the "one" entity from the "many" entity, it throws the error "JSON conversion problem: Parameter specified as non-null is null."

I'll use the example JDL configuration provided in the JDL studio for this issue in order to show that this is a widespread problem that affects even the exam

[2020-06-06 10:09] sendilkumarn commented on #232
It looks like the error is because of the employee field in the `Department` entity.  Can you try something like [this](https://github.com/sendilkumarn/jhipster-kotlin/commit/ef3b418247c46106269c0aee5e4cb89df7f96877#diff-a3b7cdbaeac75a44f127c46f735a5a10R159-R169).

[2020-06-08 22:00] magx2 opened #233 "Open API with react spring"
When creating API first project with reactor swagger code generated by Swagger is not ready for reactive streams. To fix this I needed to add `reactive: "true"` in `openApiGenerate.configOptions`.

`gradle/swagger.gradle` file:

[code]

[2020-06-09 06:10] sendilkumarn opened #235 "Upgrade to JHipster v6.9.0"
## Overview of the issue

[Changes from 6.8.0](https://github.com/jhipster/generator-jhipster/compare/v6.8.0..v6.9.0)

## Motivation for or Use Case
Upgrade to latest and greatest of JHipster version

## Link to PR (if any)
#234

## KHipster Version(s)
New version

## JHipster Version(s)
v6.9.0 (upgrade to)

- [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-09 06:18] sendilkumarn commented on #231
Started the initial work at here https://github.com/sendilkumarn/khipster-gradle-kts-migration/pull/1

@atomfrede interested to expand it further (I am not an Gradle expert 👍 so any help / review is much appreciated).

[2020-06-09 20:09] #235 closed

[2020-06-16 20:42] magx2 commented on #233
Anyone?

[2020-06-17 09:59] ecostanzi commented on #233
@magx2 thank you for reporting. I think this is a problem of the main generator.

[This](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/gradle/swagger.gradle.ejs) template should be changed. Are you willing to open a PR to fix it?

[2020-06-17 10:24] sendilkumarn commented on #233
I will transfer the issue to the main generator. Thanks @ecostanzi

[2020-06-28 16:53] leozin opened #240 "Generated Kotlin User.kt has compilation error on @OneToMany(cascade = CascadeType.ALL)"
## Overview of the issue
Generated Kotlin User.kt has a compilation error
In Kotlin, annotated-parameters which are Array need to be declared as an Array and not single element.
Eg.:

[code]

The code above will fail to compile. The fix is simple, just add brackets to the cascade type:
`@OneToMany(cascade = [ CascadeType.ALL ], orphanRemoval = true, mappedBy = "user")`

Then it fixes the problem

[2020-06-29 07:47] sendilkumarn commented on #240
@leozin Please feel free to create a PR. There are no naming constraints, please feel free to use some meaningful commit message. Thanks :)

[2020-06-29 12:24] leozin commented on #240
@sendilkumarn cool I will do that in the evening :) thanks for the quick reply

[2020-07-03 20:31] sendilkumarn commented on #240
Closed by #242

[2020-07-03 20:31] #240 closed

[2020-07-05 15:55] Romancha opened #246 "Side affect mock DateTimeProvider"
## Overview of the issue
Using mock for dateTimeProvider may side affect users test that use dateTimeProvider. To avoid side affect we need to use @MockBean
## Motivation for or Use Case
I have my own integration tests, which use the createdDate, lastModifiedDate in the verification of business logic. I was a bit confused when my tests fell and saw that the createdDate, lastModifiedDate in my obje

[2020-07-07 21:02] Romancha commented on #246
PR merged https://github.com/jhipster/jhipster-kotlin/pull/247

[2020-07-07 21:02] #246 closed

[2020-07-15 16:51] kevin-madhu opened #248 "Jacoco test report failure"
The jacoco test report fails when -xtest argument is used

Jitpack runs build with the above-mentioned argument.

This is the exact command that's being run,
./gradlew clean -Pgroup=com.github.xxx -Pversion=xxx -xtest build publishToMavenLocal

This is the message produced upon failure:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':jacocoTestReport'.

##

[2020-07-15 17:05] kevin-madhu opened #249 "publishToMavenLocal Doesn't seem to do anything"
This gradle task, publishToMavenLocal is supposed to copy built
artifactory into local maven repository, which is usually ~/.m2 on
unix based systems.

But, I noticed that even in a freshly created project, running:
./gradlew build pushToMavenLocal
this command successfully executes, but no artifactory could be found
anywhere in local maven repository.

## KHipster Version(s)
KHipster v1.9.0

-

[2020-07-16 11:39] #249 closed

[2020-07-16 17:49] #248 closed

[2020-07-21 14:13] zakayothuku opened #252 "Cannot Generate new Project in Project Directory"
## Overview of the issue
When I try to generate a new project, KHipster Generates the project in the HOME path(/Users/username/) rather than in the project directory I have created.

## Reproduce the error

[code]

## KHipster Version(s)
v. 1.9.0

## JHipster Version(s)
v. 6.5.0

How can I fix this to generate inside the project directory and not in the Home Path? Is this a bug?

[2020-07-21 14:22] atomfrede commented on #252
`Just found a `.yo-rc.json` in a parent directory.` did you by accident tried to create an application in user home by accident?

[2020-07-21 14:24] zakayothuku commented on #252
Yes, then deleted it and then tried to create it in the directory. Could this be the issue?

[2020-07-21 14:24] atomfrede commented on #252
Yes. Can you check if you have removed all files, `.yo-rc.json` is a hidden file.

[2020-07-21 14:26] zakayothuku commented on #252
Awesome, this has solved it. Didn't think it would pick the `.yo-rc.json` that is in the Home Path.

[2020-07-21 14:29] atomfrede commented on #252
Great it works now.

[2020-07-21 14:29] #252 closed

[2020-07-26 04:23] tonsV2 opened #253 "Empty "Entities" menu"
## Overview of the issue

I'm facing the empty menu issue which is also described [here](https://github.com/jhipster/generator-jhipster/issues/5335) and [here](https://github.com/jhipster/generator-jhipster/issues/5192).

I've imported entities and can see them just fine using the H2 web console.

[code]

I start my backend using `./gradlew` and I do `npm start` (in another terminal). I've also tr

[2020-07-26 16:17] kevin-madhu opened #254 "Authenticated requests always return invalid_token exception"
##### **Overview of the issue**

After addition of a new dependency (axon-spring-boot-starter for axon framework) into the project, the project always returns invalid_token for authenticated requests when it's being provided with a valid token. I'm using JHipster with UAA.

##### **Motivation for or Use Case**

I'm not able to access any authenticated endpoints with valid tokens received from the

[2020-07-26 18:18] pascalgrimaud commented on #254
I transfert the issue to jhiipster-kotlin project, as it seems related to this one, not in main generator-jhipster

[2020-07-28 22:35] sendilkumarn commented on #254
Thanks for the great explanation from @smcvb

It looks like a configuration issue. Closing the issue but please feel free to reopen if you think it is because of JHipster.

cc: @xetys the application is using UAA. :)

[2020-07-28 22:35] #254 closed

[2020-07-28 22:35] sendilkumarn commented on #253
Did you generate the entities with `khipster entities` command ?

[2020-07-29 18:01] sendilkumarn commented on #253
Closing this as invalid. But feel free to re-open if it is missing after running `khipster entity Exercise && khispter entity Picture && khipster entity Video`.

[2020-07-29 18:01] #253 closed

[2020-08-19 06:47] andrzej-polanowski-emerge opened #255 "Can't edit entities owned by microservice through gateway with oauth in place (keycloak) when generated with khipster"
## Overview of the issue
Can't edit entities owned by microservice through gateway with oauth in place (keycloak) when generated with khipster (but it works great with jhipster)

## Motivation for or Use Case
need to have oauth in microservices setup

## Reproduce the error
create gateway & microservice app, add entity (or two in relation) to the microservice & 1 entity for the gateway (see attach

[2020-09-08 11:18] isaul32 opened #258 "Reproducible builds with Gradle"
## Overview of the issue
Ktlint formatting should be done before copying/diffing files because it cause many conflicts currently.

## Reproduce the error

1. Run khipster and use Gradle
2. Run khipster again
3. Get lot of conflicts

## KHipster Version(s)
KHipster v1.8.1
-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-19 15:10] julillosamaral commented on #230
@sendilkumarn For the PR, changing the classpath to be `$buildDir/classes/kotlin/main` would be enough?
I think I can check it out in the next few days

[2020-09-21 05:55] sendilkumarn commented on #230
Thanks @julillosamaral sure 🙂

[2020-09-24 21:11] jonasbark commented on #231
@sendilkumarn you closed the PR yourself - why was that?

[2020-09-24 21:22] sendilkumarn commented on #231
@jonasbark did not have time to invest in it. Please feel free to revive the PR, if you are interested :)

[2020-09-25 04:16] kevin-madhu commented on #231
@sendilkumarn I'm interested.

[2020-09-25 06:01] jonasbark commented on #231
@kevin-madhu want to do it? Otherwise I'll invest some time over the weekend

[2020-09-25 06:37] kevin-madhu commented on #231
@jonasbark I want to do it. I'm new to jhipster and jhipster-kotlin generators and this looks like something I can get done and so it's interesting for me. I've started exploring it right now and if I hit a wall, I'll let you know by tomorrow so that you can take it up.

[2020-09-26 18:56] kevin-madhu commented on #231
@sendilkumarn @mraible @jonasbark
Hi everyone,
  Here's the initial form of solution I could come up with. It seems to be a pretty big diversion or rearrangement rather, than what's already exists. Basically, when I was exploring the Kotlin DSL offered by Gradle, I came across an issue which will limit us from splitting the Gradle build file like it used to be when using Groovy DSL. The issue http

[2020-09-27 07:21] kevin-madhu commented on #231
As a side note, one advantage of moving much of the logic into these plugins from build.gradle.kts is that later on when this gets released and tested and saturates over time, maybe we could completely extract everything out of khipster project into an independent Khipster Gradle plugin (maybe a Jhipster one too).

[2020-09-30 22:02] sendilkumarn commented on #231
@kevin-madhu Thanks a lot for exploring this! I haven't done many experiments with pre-compiled plugins in Gradle.

My only question is, if we go in the pre-compiled direction, can the end user customise the build?

@atomfrede do you have any thoughts here about using pre-compiled plugins?

[2020-10-01 04:36] kevin-madhu commented on #231
@sendilkumarn What kind of build customizations are you talking about? Can you give me a bit more description? The versions of dependencies can always be overridden by putting them in build.gradle.kts I guess. Also, people who want to add more tasks and so on could also do it in build.gradle.kts or inside buildSrc. I can come up with proper documentation for how these kinds of things could be done

[2020-10-01 05:40] atomfrede commented on #231
I always wanted to start a jhipster gradle plugin, such that the generated configuration e.g. only applies two or three plugins depending on the selected configuration. But the problem is, when there is an error/bug or so we must release a new plugin version and a new generator. With the current state having all used plugins directly in use version updates or workarounds are quite easy for users.

[2020-10-01 06:10] kevin-madhu commented on #231
@atomfrede I'm pretty new to Jhipster and yeoman generators in general. Still in the process of learning. The workarounds are something we could solve for the users by good documentation and by providing flexible configuration options I guess. But the release part is still an issue. How about we come up with a new command "jhipster gradle-plugin-upgrade" or something, like "jhipster upgrade" which

[2020-10-01 11:37] kevin-madhu commented on #231
@atomfrede I'm pretty new to Jhipster and yeoman generators in general. Still in the process of learning. The workarounds are something we could solve for the users by good documentation and by providing flexible configuration options I guess. But the release part is still an issue. How about we come up with a new command "jhipster gradle-plugin-upgrade" or something, like "jhipster upgrade" which

[2020-11-08 11:38] sendilkumarn commented on #225
Closing this issue for now. It looks like migrating to GitHub registry is not ideal at this moment.

[2020-11-08 11:38] #225 closed

[2020-11-23 12:57] kedare opened #267 "Unresolved CACHE_REGION_FACTORY on default project"
## Overview of the issue
The project fail to run the gradle tasks with the default settings

## Motivation for or Use Case

## Reproduce the error
Create a project with the following settings:
[code]

Run `./gradlew`

The following error is returned

[code]

## Related issues

## Link to PR (if any)

## KHipster Version(s)

v1.11.0

-   [x] Checking this box is mandatory (this is just to show you

[2020-12-06 18:54] julillosamaral opened #269 "Microservices + oauth2 doesn't work"
## Overview of the issue
After creating a brand new application with a Gateway and a microservices using both oauth2 the microservices always return 401 when doing a call to the API.
This behaviour doesn't happen in jhipster, did the same process with it and it works.
## Motivation for or Use Case

## Reproduce the error

1. Create a new Gateway using oauth2. For simplicity just use in memory and

[2020-12-06 19:19] julillosamaral commented on #255
I think I just reported the same problem. Did you find a workaround for this?

Thanks

[2020-12-06 19:58] julillosamaral commented on #255
Attaching some logs of what my issue is, I'm debugging the app and the internals of springboot so I can find it out! Any help is welcomed :D

[code]

[2020-12-06 20:53] julillosamaral commented on #255
A bit more of information, it seems that the Authorization header is removed in the gateway.
This image is the interception of the request for the kotlin version:
![image](https://user-images.githubusercontent.com/979882/101291982-5c480c80-37eb-11eb-8ebe-ec5241bd299b.png)

The next image is the version for the java version:
![image](https://user-images.githubusercontent.com/979882/101292048-d71127

[2020-12-18 23:03] cheroliv opened #270 "generated webflux configuration not working out of the box"
Hell,
I'd like to get webflux configuration, but on java and kotlin version there is always that r2dbc dependency that could not be fed.
Any one got hint to where do I have to manually update the generated project?

[2020-12-18 23:51] cheroliv commented on #270
according to this [article](https://spring.io/blog/2019/05/15/spring-data-r2dbc-1-0-m2-and-spring-boot-starter-released), I need to add an url repo to repositories block, like this below:
[code]
now the r2dbc dependencies are coming.
But it ends up with : java.lang.NoClassDefFoundError: com/google/common/collect/Lists
I close the ticket this problem is solved.

[2020-12-18 23:51] #270 closed

[2021-03-03 18:04] sendilkumarn commented on #139
closing this. Since this will be handled in the new releases.

[2021-03-03 18:04] #139 closed

[2021-03-03 18:05] sendilkumarn commented on #230
Closing this! please feel free to reopen if this is still happening. Thanks.

[2021-03-03 18:05] #230 closed

[2021-03-03 18:06] sendilkumarn commented on #231
Closing this, since there is no active development here. If anyone is interested please feel free to comment here. Thanks.

[2021-03-03 18:06] #231 closed

[2021-03-03 18:07] #232 closed

[2021-03-03 18:09] sendilkumarn commented on #258
The upgrade sub-generator is not completed yet and also I think this might be due to base generator. Closing this for now. But please feel free to re-open or send a PR by adding the `upgrade` sub generator.

[2021-03-03 18:09] #258 closed

[2021-03-03 18:12] sendilkumarn commented on #267
@kedare thanks for reporting this. `Redis` is still in beta, the current `nextv7` has the necessary fix for this.

[2021-03-03 18:12] #267 closed

[2021-03-03 18:13] kevin-madhu commented on #231
@sendilkumarn I'm still up for it. Got a little bit busy. Also I didn't get response on my query.

[2021-03-03 18:14] sendilkumarn commented on #269
Closing this in favor of #255

[2021-03-03 18:14] #269 closed

[2021-03-03 18:16] sendilkumarn commented on #255
Thanks @andrzej-polanowski-emerge  & @julillosamaral  for the issue. I am sorry it took a while to come back to this issue, but did you find the solution?

[2021-03-03 18:21] sendilkumarn commented on #231
IMO, let us not go towards the pre-compiled gradle plugins direction as the first step. Let us first convert the existing groovy scripts to kotlin scripts. The next step will be exploring pre-compile gradle plugins that is used both in the JHipster and KHipster. WDYT?

[2021-03-03 18:34] kevin-madhu commented on #231
Sure, we could do that. 👍 In that case,  I'll reopen the issue when I've  worked it out.

[2021-03-03 21:05] julillosamaral commented on #255
So, I finally had to use the Gateway in Java because it was the only way I made it work.
Having it in Kotlin made me loose the Authorization header as I stated in previous message.

My theory is that the issue is caused by Netflix netflix-zuul having some issue with Kotlin, I know there's some configuration to avoid this issue and it works correctly for Java. The issue is https://github.com/spring

[2021-03-03 21:28] sendilkumarn commented on #255
Thanks @julillosamaral I was able to demo things a couple of weeks before without any issue (but I did not use OAuth2). I think the problem will be in the spring-security area.

Let me check this, when I have some time. Again thanks for the input and raising the issue.

[2021-03-03 21:29] sendilkumarn commented on #231
Awesome! Let me assign it to you. 🎉

[2021-03-04 13:09] julillosamaral commented on #255
We found the problem using OAuth2 with keycloak (maybe without it the issue persists). Using other type of authentication we didn't have the problem and everything was working really well!

[2021-03-28 06:11] rburgst opened #273 "Jhipster 7 support?"
## Overview of the issue

it would be cool to support Jhipster 7

## Motivation for or Use Case

Stay up to date

## Related issues

## Link to PR (if any)

## KHipster Version(s)

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2021-03-29 06:20] davideme commented on #273
@sendilkumarn If you have any task we can help with to support v7, let me know. As I'm not sure the process you follow if you rebase from jhipster or importing the files.

[2021-03-29 06:30] sendilkumarn commented on #273
I have done most of the work in nextv7 branch in this repo. The remaining work is to fix the failing tests.

Please feel free to grab anyone pipeline if needed and fix them.

[2021-03-29 06:32] sendilkumarn commented on #273
currently blocked by this error https://github.com/jhipster/generator-jhipster/issues/14492

[2021-03-29 06:35] rburgst commented on #273
did you try adding `ajv` as a direct dependency?

[2021-04-09 12:34] davideme commented on #273
I tested with jhipster 7.0.1 as based on the branch and seems working fine now.

[2021-04-14 18:18] emilpaw opened #275 "Running ktlint with Maven"
## Overview of the issue
In the pom.xml ktlint is set as one of the plugins but I can't figure out how to run it.
The ktlint-maven-plugin documentation suggests the khipster default setting for ktlint does "Formatting as part of the build" but building with `./mvnw` does not seem to format any code.

## Motivation for or Use Case
Consistent code is better code.

## Reproduce the error
1. Create pr

[2021-04-14 18:37] emilpaw commented on #275
I figured it does actually work, but I looked for changed indentation and it seems ktlint does not auto-intend.

[2021-04-18 19:37] sendilkumarn commented on #273
Thanks @rburgst & @davideme it was due to npm 7 & npm 6 dependency tree issue.

The actual v7 migration is happening in this PR - #276

[2021-04-18 19:50] sendilkumarn commented on #275
Thanks! you can find more about the usage [here](https://gantsign.com/ktlint-maven-plugin/usage.html).

Interesting!  Can you create an issue at the maven-plugin repo?

Closing this ticket for now. Please feel free to reopen if needed.

[2021-04-18 19:50] #275 closed

[2021-04-18 20:48] #273 closed

[2021-04-24 18:18] dnatag opened #279 "How to pass the switch --skip-kotlin-format with jhipster 7.0.1"
## Overview of the issue
khipster crashed with --skip-kotlin-format switch

## Motivation for or Use Case

## Reproduce the error
[code]
## Related issues

## Link to PR (if any)

## KHipster Version(s): 1.12.0

-   [] Checking this box is mandatory (this is just to show you read everything)

[2021-04-24 22:39] sendilkumarn commented on #279
It looks like the generator falls back to main JHipster generator, can you try uninstalling the `JHipster` before trying it?

[2021-04-25 01:24] dnatag commented on #279
Same.
[code]

[2021-04-27 22:29] mraible commented on #279
I tried the latest release for the first time today. I tried using the following to generate a microservices architecture.

[code]

I did see the following during the generation process.

[code]

I do have JHipster 7.0.1 installed.

If I cd into the `gateway` directory and run `./gradlew`, it starts. The `blog` app does not.

[code]

The code in this file is:

[code]

For `store`, it fails to star

[2021-04-27 22:33] mraible commented on #279
If I try to log in to the gateway app, it fails too:

[code]

I just tested 7.0.1 with my reactive microservices post and everything works. I'm updating the post now and was hoping to change the [Kotlin section](https://developer.okta.com/blog/2021/01/20/reactive-java-microservices#what-about-kotlin-microservices) to reference the KHipster 1.12.0 release. Maybe that's not a good idea?

[2021-04-28 02:05] mraible commented on #279
The `SecurityConfiguration` is missing an import. Adding the following fixes it.

[code]

To fix `AuthorityRepository`, I changed it to:

[code]

Then, I got a bunch of additional errors:

[code]

The repeatable are about code that looks like:

[code]

[2021-04-28 21:08] sendilkumarn commented on #279
I tried the reactive blog, but did not try this one. I will take a look this weekend.

meanwhile if someone is interested please feel free to comment here 👍🏽

[2021-04-30 19:59] sendilkumarn commented on #279
Fixed all the generator issues, so the code now compiles and run.

But there is one more issue, after authenticating, when we try to create an User, the application throws the following error

[code]

It looks like a `spring-r2dbc` issue, we are trying to save an entity with `id`. Spring R2DBC automatically tries to update the entity and thus fails. @mraible Does the main generator work?

[2021-05-01 14:26] mraible commented on #279
Yes. The main generator works. I haven't seen this issue there.

[2021-05-01 22:18] sendilkumarn commented on #279
Found the issue. Fixed it 👍🏽 It should be working now. I will cut a new release today

[2021-05-01 23:44] #255 closed

[2021-05-01 23:44] #279 closed

[2021-05-03 01:37] mraible opened #281 "Error executing docker-compose on install"
## Overview of the issue

Using the latest version, when I run `khipster jdl reactive-ms`, it has an error when generating Docker Compose files:

<img width="1330" alt="Screen Shot 2021-05-02 at 7 28 08 PM" src="https://user-images.githubusercontent.com/17892/116834757-c38ca180-ab7c-11eb-86f4-37fc8b90919b.png">

[code]

## Motivation for or Use Case

I'd like to be able to write my reactive micros

[2021-05-03 06:14] sendilkumarn commented on #281
Can you remove the `--no-skip-kotlin-flag` ? The flag is `--skip-kotlin-flag`.

[2021-05-03 10:10] chess-equality opened #282 "Using Istio for local development"
## Overview of the issue

Hello,

I am following the blog post on using Istio with KHipster:

https://sendilkumarn.com/blog/khipster-microservices-k8s-istio/

Actually this is just a question, how do I test / develop first with my local without deploying to GCP?

What would be my local setup in this case?

Thanks for the help.
## Motivation for or Use Case
https://sendilkumarn.com/blog/khipster-mi

[2021-05-03 16:45] mraible commented on #281
I didn't add any options. All I did was run `khipster jdl reactive-ms`.

[2021-05-04 07:25] sendilkumarn commented on #281
@mraible do you have any custom script for the docker-compose?  I just tried it and it works for me.

I am not sure from where this is getting executed

[code]

[2021-05-04 07:29] sendilkumarn commented on #282
I think the steps are fairly similar, just do the following

- Docker Desktop
- Install / Enable Kubernetes
- Install Istio (following the blog, but in your local)

then just follow the blog.

[2021-05-04 08:38] chess-equality commented on #282
But it will mean then that I need to deploy to Kubernetes every time I make a code change? I'm describing how the local development cycle would be.

[2021-05-04 14:35] mraible commented on #281
Not that I know of. Here's my versions of Node and npm:

[code]

I just tried uninstalling everything.

[code]

It seems to have worked:

[code]

Then I installed them both:

[code]

NOTE: I included the output because there's a critical vulnerability, not sure what it is though.

Next, I tried to create reactive microservices with KHipster.

[code]

It still happens for me. Maybe someone else can

[2021-05-04 20:24] sendilkumarn commented on #281
This is weird. It looks like jdl assumes there will be a `no-<option>`

Also if the application is generated, can you run `khipster docker-compose` seprately? Does it work?

[2021-05-04 20:29] sendilkumarn commented on #281
@mraible can you uninstall jhipster alone and try?

[2021-05-04 21:24] sendilkumarn commented on #281
Create https://github.com/jhipster/generator-jhipster/issues/14870 as a follow-up. For now, we can either remove the `--skip-ktlint-format` flag or generate the `docker-compose` files separately.

[2021-05-04 21:38] mraible commented on #281
I uninstalled generator-jhipster, reinstalled generator-jhipster-kotlin and I can still reproduce the issue. The JDL question is probably a good one for @MathieuAA.

[2021-05-04 21:44] mshima commented on #281
Drop default value https://github.com/jhipster/jhipster-kotlin/blob/e92416f9f5766d33cb42c4e09cedea9b18b32060/generators/app/index.js#L31

[2021-05-04 21:49] mshima commented on #281
I think `--interactive` option may be used as workaround.

[2021-05-05 17:49] sendilkumarn commented on #281
removing `default` does not completely fix the issue. With `default` removed the generator will error out if we supplied `--skip-ktlint-format` flag for `import-jdl`

[2021-06-02 02:11] diegozup opened #283 "Error when using microservices + mongodb + UAA + spring web flux"
## Overview of the issue
I'm using khipster to create microservices with mongodb + Oauth2 + spring web flux

## Reproduce the error
Just using the following steps below is enough.

## KHipster Version(s)
v1.12.1

-   [x] Checking this box is mandatory (this is just to show you read everything)

## Error

**My So**:
- Ubuntu LTS: 20.04 64bits
- Node version: v14.17.0
- Java version: 11
- I'm runnin

[2021-06-04 05:35] starman2015 opened #284 "Wrong type of User.Id using MongoDb"
## Overview of the issue
Generate Monolith with MongoDb.
## Motivation for or Use Case
Some files contain an invalid user ID data type. Long is specified instead of the string.
## Reproduce the error
Generate Monolith with MongoDb.  Start app.
## KHipster Version(s)
7.0.1
-   [X] Checking this box is mandatory (this is just to show you read everything)

[2021-06-25 06:33] matze42 opened #286 "khipster upgrade fails"
## Overview of the issue
Upgrading a khipster application using 'khipster upgrade' fails.
I get the following error:
....
Looking for latest generator-jhipster-kotlin version...
1.12.1
ERROR! Invalid Version: undefined
....

## Motivation for or Use Case
Like to upgrade my bigger khipster application to 1.12.1. Unfortunately I have many problems getting that done.
To investigate the basics I wante

[2021-06-25 06:36] matze42 commented on #286
my versions:
node: v14.17.0
java: openjdk 14.0.2
kotlin: 1.5.20-release-287

[2021-06-25 20:23] iamahern commented on #286
The error message is unhelpful. We hit this recently too, I think you are picking up a globally installed jhipster 7.1 package which is incompatible with the current jhipster-kotlin.

We were able to work around the issue by instead using the ‘khipster’ cli which seems to use a local jhipster 7.0.1 install.

[2021-06-26 10:04] iamahern opened #287 "Generated reactive JDBC stores do not include UUID import"
## Overview of the issue
When generating a reactive application, if the JDL defines entities that contain UUID fields, the UUID import is missing from the generated class.

## Motivation for or Use Case

## Reproduce the error

[code]

Then compile the application.
`./gradlew compileKotlin

Results:
[code]

For anyone else hitting this, there were additional issues with kapt3 files. After manually

[2021-06-26 10:53] iamahern opened #288 "Detekt version out of date and generated projects contain a large number of detekt warnings"
## Overview of the issue

The Kotlin code generated by contains a large amount of technical debt based on the detekt configuration.

The detekt plugin is still on version 1.1.0 and is well behind the latest release (1.17.x).

## Motivation for or Use Case

The detekt plugin has improved significantly between releases and updates are required to handle newer versions of Kotlin.

Generated files con

[2021-06-27 12:49] sendilkumarn commented on #282
@chess-equality Closing this issue since it is not related to the generator. Yeah if you're using Istio + k8s you would require the code changes to be deployed to the cluster.

[2021-06-27 12:49] #282 closed

[2021-06-27 14:41] #287 closed

[2021-06-27 19:57] iamahern opened #292 "Maven build has old ant run version and depends on jcenter()"
## Overview of the issue

The  `MAVEN_ANTRUN_VERSION` is currently set to version `1.8`, where as the latest version is `3.0`. In addition, the maven build makes wide use of jcenter() which has been sunset.

## Motivation for or Use Case

Old versions of dependencies are behind in terms of bug fixes and security updates. Given the jcenter sunset, users of Maven will be unable to build once Jcenter

[2021-06-27 20:03] iamahern opened #293 "Upgrade Kotlin to 1.6.x"
## Overview of the issue
The current install defaults to Kotlin 1.4.x, this should be upgraded to 1.5.

## Motivation for or Use Case
Keep software versions current.

## Reproduce the error
N/A

## Related issues
#288 - Kotlin 1.5 contains feature changes (e.g. multi-file sealed classes) that are unsupported by detekt < 1.17.

## Link to PR (if any)
https://github.com/jhipster/jhipster-kotlin/pull

[2021-06-27 20:25] #284 closed

[2021-06-27 20:31] sendilkumarn commented on #283
@diegozup  I cannot replicate the above issue. Can you share the `.yo-rc.json` file?

[2021-06-27 20:34] sendilkumarn commented on #286
I am not sure whether the `upgrade` sub-command will properly work for blueprints. @mshima any thoughts on the `upgrade` command?

[2021-06-27 21:55] #281 closed

[2021-06-27 22:32] mshima commented on #286
It was supposed to work.
You may be luckier with `jhipster upgrade` and select the jhipster target version (same last kotlin depends on).

From the log I guess that the current kotlin blueprint version is not available due to how kotlin cli is implemented. (passes blueprints option without a version)

[2021-06-29 07:36] iamahern opened #295 "Code compilation issues generated classes for reactive + serviceImpls with UUID IDs"
## Overview of the issue

Generating reactive service impls when UUID is used as a key can result in non-compilable generated code.

## Motivation for or Use Case

While testing for detekt issues of generator configuration combinations, I found this issue incidentally.

## Reproduce the error

Utilize the following JDL file below:

[code]

app.jdl

[code]

## Related issues

## Link to PR (if any)

[2021-06-29 07:48] iamahern opened #296 "Ktlint issues with generated code for reactive + kafka projects"
## Overview of the issue

Utilizing a combination of reactive=true + messagebroker=kafka flags, the code generated by khipster fails ktlint checks. Due to the gradle project setup, this also breaks the `compileKotlin` task.

## Motivation for or Use Case

Failure of basic regression test.

## Reproduce the error

Utilize the app.jdl file below and run:

[code]

app.jdl
[code]

## Related issues

#

[2021-07-06 19:17] sendilkumarn commented on #286
Thanks for the update @mshima Do you think just passing version would work here?

[2021-07-06 19:18] sendilkumarn commented on #283
Please feel free to re-open the issue if you still have it in the main branch.

[2021-07-06 19:18] #283 closed

[2021-07-06 19:20] sendilkumarn commented on #296
@iamahern good one! I haven't tested this particular combination yet! will do it over the weekend 👍🏽

[2021-07-06 19:53] mshima commented on #286
It's been a while that I don't see upgrade internals.
But I think the problem is that passing `jhipster --blueprints kotlin` may be overriding the version from `.yo-rc.json`.
It actually can be a bug at jhipster side.

[2021-07-07 08:19] matze42 commented on #286
Thanks for looking into this. If there is anything I can do to support/help e.g. by providing more info or trying something out, please let me know.
FYI: As the upgrade did not work for me in the past I resorted to use:
jhipster upgrade --target-blueprint-versions kotlin@1.12.1
with the respective target version.
I've  never been sure if this was creating any problems. Perhaps that's why I am I to

[2021-07-07 08:23] matze42 commented on #286
@iamahern: Can I ask what you mean by using the khipster cli. I tried to upgrade by "khipster upgrade". Thought that is using the khipster cli :-).

I also uninstalled any locally installed versions of jhipster and khipster before starting the sequence under "reproduce the error....".
So if you could give me a hint what I can try to do in order to follow your work around, I would be really happy.

[2021-07-09 11:52] sendilkumarn commented on #286
Thanks for the update @matze42

@mshima Indeed it looks like a main generator error. I will create a ticket in main generator along with the PR.

Meanwhile @matze42 this command `jhipster upgrade --target-blueprint-versions kotlin@1.12.1` should work without any issues. Please do let me know if it causes problem. Thanks :)

[2021-07-14 11:25] matze42 commented on #286
@sendilkumarn Unfortunately this is also not working.
The behavior depends on having installed generator-jhipster-kotlin globally or not.

With only having generator-jhipster installed globally ( generator-jhipster-kotlin  not installed) the upgrade fails because  "devServerPort" is not defined

-----
WARNING! Java 8, 11, or 12 are not found on your computer. Your Java version is: 14.0.2
 ________

[2021-07-14 11:26] matze42 commented on #286
This is my global setup:
  npm ls -g -depth=0
/Users/matthiasheck/.nvm/versions/node/v14.17.0/lib
├── generator-jhipster@7.1.0
└── npm@7.19.1

[2021-09-01 06:47] rburgst commented on #286
same problem
[code]

[2021-09-01 07:37] rburgst commented on #286
This might be due to the fact that the global jhipster version is 7.1.0 (which uses the new `devServerPort`) while `generator-jhipster-kotlin` uses `7.0.1`.

[2021-09-02 13:27] tthanhsang opened #300 "Failed to generate microservice application with OAuth 2.0"
## Overview of the issue
Failed to generate microservice application with OAuth 2.0
## Motivation for or Use Case
When I generate new Microservice application and choose type of authentication is Oauth 2.0, it failed with exception.
## Reproduce the error
Which *type* of application would you like to create? **Microservice application**
Which *type* of authentication would you like to use?  **OAut

[2021-10-12 13:59] julillosamaral opened #302 "Wrong mapping entity generation"
## Overview of the issue
On the * to one relationships on jhipster a mapping was added to retrieve the data in the following way:
<img width="515" alt="Screen Shot 2021-10-12 at 10 41 34 AM" src="https://user-images.githubusercontent.com/979882/136967292-68ba13bc-1b69-4f13-aa83-61ca931b8a19.png">

Basically jhipster only loads the relationship field specified on the entity definition and the id.

[2021-11-23 21:29] sendilkumarn commented on #286
Closing this issue! Please feel free to reopen if the issue persists

[2021-11-23 21:29] #286 closed

[2021-11-24 09:28] sendilkumarn commented on #302
@julillosamaral  KHipster is yet to support v7.2.0 of JHipster. That is the reason why you are seeing the difference here.

[2021-11-24 12:49] #293 closed

[2021-11-24 12:49] #288 closed

[2021-11-24 12:50] #295 closed

[2021-11-24 12:50] #296 closed

[2021-11-24 12:50] #300 closed

[2021-11-24 12:51] sendilkumarn commented on #302
Closing this issue for now.

[2021-11-24 12:52] #302 closed

[2021-11-25 18:13] sendilkumarn opened #306 "[Chore/Fix] Enable more stricter Detekt checks"
## Overview of the issue

### Chore / Fix

Enable stricter checks via Detekt and fix the following:
- [ ] Remove wild card imports
- [ ] Replace var into val wherever possible
- [ ] Remove unused imports
- [ ] Proper visibility modifier
- [ ] Unsafe call on nullable type
- [ ] Remove lateinit usage
- [ ] Remove using spread operator
- [ ] Sort Import ordering

[2021-11-25 18:14] sendilkumarn opened #307 "[Feature Request] Support couch base database"
## Overview of the issue

### Feature Request

Currently the blueprint is not supporting couch base database, enable support for the same by fixing the templates.

[2021-11-25 18:16] sendilkumarn opened #308 "[CI] Add more CI checks"
## Overview of the issue

### CI

- [ ] Add vuejs CI support
- [ ] Add more reactive cases
- [ ] Migrate to newer GitHub Actions

[2021-11-25 18:17] sendilkumarn opened #309 "[Feature Request] Add coroutines option for Reactive application"
## Overview of the issue

Add coroutines option for reactive application generation.

[2021-11-25 18:18] sendilkumarn opened #310 "[Fix] Move away from open class wherever applicable"
Currently we are using open class at few places, change them into normal classes wherever possible.

Refer [here](https://github.com/jhipster/jhipster-kotlin/search?q=%22open+class%22)

[2021-12-02 20:22] sendilkumarn opened #312 "Upgrade KHipster to support JHipster v7.2.0 / v7.3.0 / v7.4.0"
## Overview of the issue

Upgrade KHipster to support JHipster  V7.2.0 / v7.3.0 / v7.4.0

[2021-12-02 20:22] sendilkumarn commented on #312
Closed by #304  #305

[2021-12-02 20:22] #312 closed

[2021-12-02 20:23] sendilkumarn commented on #312
cc @pascalgrimaud

[2021-12-02 20:25] pascalgrimaud commented on #312
Done :-)

[2021-12-05 23:20] sendilkumarn opened #314 "Upgrade the generator to support v7.4.1"

[2021-12-05 23:21] #314 closed

[2021-12-28 23:06] kenyee opened #316 "package.json needs updating so it doesn't reference eslint 3.7.2 which has been deprecated"
## Overview of the issue
'@types/eslint-scope@https://artifactory.internal:443/api/npm/js-virtual/@types/eslint-scope/-/eslint-scope-3.7.2.tgz' is not in this registry

updating to latest node.js 17.3.0 also give this cryptic error when running khipster:
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './cli/utils' is not defined by "exports" in /Users/kenyee/.npm-global/lib/node_modules/ge

[2022-01-04 11:59] sendilkumarn opened #318 "Upgrade the generator to support v7.5.0"

[2022-01-04 11:59] #318 closed

[2022-01-04 15:57] pascalgrimaud opened #319 "Release 1.14.0"
Related to https://github.com/jhipster/jhipster-kotlin/releases/tag/1.14.0

Adding a bounty for all the work done here @sendilkumarn

[2022-01-05 14:23] sendilkumarn commented on #319
Thanks @pascalgrimaud
Claimed :)

[2022-01-05 14:23] #319 closed

[2022-01-05 14:45] pascalgrimaud commented on #319
@sendilkumarn : approved. Don't forget to put the link here, next time plz :pray: :)

[2022-01-10 20:04] breucode opened #320 "Fresh project fails with kapt error "tools.jar is absent""
## Overview of the issue

The build of a fresh project fails with the following error message:
[code]

## Reproduce the error

Create a fresh project with the current generator-jhipster-kotlin version.

After the project was created, run `./gradlew`.

## KHipster Version(s)

1.14.0

## Fix

This problem is fixed by upgrading kotlin to 1.6.10 (`kotlin_version=1.6.10` in `gradle.properties`).

-   [

[2022-01-11 08:44] littlepine opened #321 "import javax.persistence.SequenceGenerator is missing on User.kt"
## Overview of the issue
A fresh generated project will fail on compile and throw following error:
[code]

## Motivation for or Use Case

## Reproduce the error

## Related issues

## Link to PR (if any)

## KHipster Version(s)
1.14.0
-   [] Checking this box is mandatory (this is just to show you read everything)

In Case others also facing the error, apply the following to solve:
Add
[code]
in U

[2022-01-26 07:04] assimbly opened #323 "[Feature Discussion] Khipster with pure Kotlin"
Not really an issue, more of a question/idea:

Currently, Spring Boot and some popular front-end framework (React/Angular/Vue) are used to generate a Kotlin webapplication.

Are there any plans to make a generator for a pure Kotlin generated application? (where developers can code 100% in Kotlin)

For example:

1) Backend: Ktor (https://ktor.io/)
2) Frontend: Kvsion (https://github.com/rjaros/kvis

[2022-02-22 23:06] danaki opened #325 "A newbie cannot make it run"
According to documentation:

[code]

[code]

[code]

[2022-02-22 23:10] mraible commented on #325
Does it work with Node 16?

[2022-03-01 08:14] liefra commented on #325
@danaki: I just got the same error and it worked for me after switching to Node 16

[2022-03-04 20:10] bahag-chaurasiak opened #326 "jhipster-native compatible"
## Overview of the issue

I have tried to use jhipster-native with --blueprint kotlin and run into compatibility issue

ERROR! The installed generator-jhipster-native blueprint targets JHipster v7.7.0 and is not compatible with this JHipster version. Either update the blueprint or JHipster. You can also disable this check using --skip-checks at your own risk
Error: The installed generator-jhipster

[2022-03-09 17:00] Digital-Nomad opened #327 "registerPage.replaceAll is not a function"
Running into the following error when trying to generator khipster project:

[code]

Running Mac monterey 12.2.1 on an intel mac with the latest version of jhipster(7.70) and yeoman.

[2022-03-09 17:26] mraible commented on #327
Can you try with Node 16 and see if that fixes the problem?

[2022-03-09 19:21] Digital-Nomad opened #328 "Errors with freshly generated project"
I am running into these errors with a freshly generated project.
[output console](https://imgur.com/D2ZndOX)

I am running
typescript version: 4.6.2
npm version: 8.3

Any ideas?

[2022-03-10 14:08] littlepine commented on #323
I think unless you have a very legitimate reason of doing this, the requirement should not treat as the scrope of this project.
As this project is literally a kotlin version of Jhipster, which itself already have a messive amount of work and resource to maintain.

Also you should also study how Spring vs Ktor, Kvsion vs Angular, what is the pros and cons of those technology?

making request is eas

[2022-03-11 16:55] skin27 commented on #323
@littlepine Hi I know, I manage a Jhipster based open source project myself (https://api.github.com/repos/assimbly/gateway).

This was not really a request, but more just an idea/discussing thread. It's still kind of a dream to code a web/mobile application 100% in one language with an excellent language as Kotlin. Now with new projects and also with the push of Jetbrains of Kotlin with WASM as ta

[2022-03-12 17:24] emilpaw commented on #321
Could you show your configuration? You can get it by running `jhipster info`.

[2022-03-13 08:56] sendilkumarn commented on #328
This looks like frontend error(s) and also in the entities. Can you ensure JHipster version is KHipster supported version?

[2022-03-13 08:59] sendilkumarn commented on #327
@Digital-Nomad  Yeah it looks like Node version issue. Closing this for now, please feel free to reopen.

[2022-03-13 08:59] #327 closed

[2022-03-13 08:59] sendilkumarn commented on #326
@bahag-chaurasiak I don't think we support v7.7.0 yet. Closing this for now, but if you are interested happy to accept a PR.

[2022-03-13 08:59] #326 closed

[2022-03-13 09:00] sendilkumarn commented on #325
@danaki  closing this for now, please feel free to reopen if you face the same error after switching to Node 16.

[2022-03-13 09:00] #325 closed

[2022-03-13 09:02] sendilkumarn commented on #320
Interesting! The CI works fine in this case.

Can you post `khipster info` command?

[2022-03-13 10:43] emilpaw opened #330 "[Fix] React frontend react-router-dom types"
## Overview of the issue
A freshly generated React frontend throws errors:
[code]

## Motivation for or Use Case
React frontend should work.

## Reproduce the error

## Related issues
The issue apparently was fixed in version 7.7 of JHipster: https://github.com/jhipster/generator-jhipster/issues/17614
Bumping the version of @types/react-router-dom resolved the issue: https://github.com/jhipster/ge

[2022-03-13 11:01] emilpaw commented on #330
The workaround is to change `"@types/react-router-dom": "5.3.2",` to `"@types/react-router-dom": "5.3.3",`.

@sendilkumarn Is there something we can do, besides upgrading KHipster to JHipster 7.7?

[2022-03-13 11:01] emilpaw commented on #328
@Digital-Nomad Could you try this? https://github.com/jhipster/jhipster-kotlin/issues/330#issuecomment-1066076698

[2022-03-14 03:47] littlepine commented on #321
Thank you very much for your response.

Here is the jhipster info:

`
[32m[1mINFO![22m[39m Using JHipster version installed globally
[32m[1mINFO![22m[39m No custom sharedOptions found within blueprint: generator-jhipster-kotlin at /usr/local/lib/node_modules/generator-jhipster-kotlin
[32m[1mINFO![22m[39m No custom commands found within blueprint: generator-jhipster-kotlin at /usr/local

[2022-03-19 18:21] mishkaechoes commented on #330
Oh thank you so much for this. I've been banging my head on this for awhile

[2022-03-23 23:44] hubertgrzeskowiak commented on #330
Worked like a charm.
I first bumped the version of `react-router-dom` as well. That did not go well. Updating just the type definitions works, though.

[2022-04-18 13:48] sendilkumarn commented on #316
Closed via #333

[2022-04-18 13:48] #316 closed

[2022-04-18 13:49] sendilkumarn commented on #320
This should be closed via #333

Can you try with the generator from the main branch to check?

I am closing this for now but please feel free to reopen if needed.

[2022-04-18 13:49] #320 closed

[2022-04-18 13:50] sendilkumarn commented on #330
Yeah we cannot do much here. upgrading the `react-router-dom` does the trick. I will release a new version asap, that will fix this. Thanks :)

Closing this for now, please feel free to reopen if needed, thanks

[2022-04-18 13:50] #330 closed

[2022-04-18 13:51] #328 closed

[2022-04-18 13:55] sendilkumarn commented on #323
@assimbly  this is what I really wanted at the beginning, but as @littlepine pointed out maintaining the changes happening on JHipster itself is a huge work and we need more resources and community help here.

If we get enough traction and community support in these areas, I am more than happy to generate a project that is entirely Kotlin and supports wide variety of Kotlin based frameworks.

[2022-04-18 14:34] #321 closed

[2022-04-19 15:01] sendilkumarn opened #337 "Upgrade to JHipster version 7.8.1"

[2022-04-19 15:01] sendilkumarn commented on #337
Closed by #333

[2022-04-19 15:01] #337 closed

[2022-04-19 15:02] pascalgrimaud commented on #337
Adding a bounty here as it's a lot of work

[2022-05-04 10:03] pascalgrimaud commented on #337
@sendilkumarn : approved

[2022-05-11 07:12] SaltOfTheFlame opened #339 "[Bug/Fix] patch method is generated for read-only entities in reactive application"
## Overview of the issue
patch method is generated for read-only entities

## Reproduce the error

create any entity
mark it as readOnly
configurate application to use the reactive approach
generate
check out the Resource of this entity

## KHipster Version(s)
v1.14.0, v1.15.0

[2022-05-11 07:16] SaltOfTheFlame opened #340 "[Bug/Fix] jhipster dependencies are still used in get methods while passing the `--skip-jhipster-dependencies`"
## Overview of the issue
jhipster dependencies are still used in get methods while passing the `--skip-jhipster-dependencies`
## Reproduce the error

create any entity
mark it as readOnly
configurate application to use the reactive approach
generate with argument `--skip-jhipster-dependencies`
check out the Resource of this entity

## Link to PR (if any)

## KHipster Version(s)
v1.14.0, v1.15.0

[2022-06-06 09:54] bobbungbia opened #341 "[ERROR] Note: Hibernate JPA 2 Static-Metamodel Generator 5.6.7.Final"
## Overview of the issue

When I running first time application with `./mvnw` . I'm facing with two problems :

- [ERROR] Note: Hibernate JPA 2 Static-Metamodel Generator 5.6.7.Final
- [ERROR] Failed to execute goal com.github.gantsign.maven:ktlint-maven-plugin:1.13.0:format (format) on project food: Execution format of goal com.github.gantsign.maven:ktlint-maven-plugin:1.13.0:format failed: An AP

[2022-06-30 12:49] sergiufalcusan opened #342 "Liquibase diffChangelog not working"
## Overview of the issue
Cannot generate migrations with liquibase due to missconfiguration for kotlin.

## Reproduce the error
Run `./gradlew liquibaseDiffChangelog -PrunList=diffLog`

## KHipster Version(s)
7.8.1

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-06-30 12:49] sergiufalcusan commented on #342
The fix is to replace `classpath "$buildDir/classes/java/main"` with `classpath "$buildDir/classes/kotlin/main"` in build.gradle

[2022-08-02 04:33] hubertgrzeskowiak opened #343 "Error about missing EntityCallback.kt when importing JDL"
## Overview of the issue
[code]

.yo-rc.json:
[code]

## Motivation for or Use Case

## Reproduce the error
Importing a JDL. I reduced the JDL to a single entity without any options and had the same result.

## Related issues

## Link to PR (if any)

## KHipster Version(s)
7.8.1

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-03 11:45] jonno85 commented on #309
it would increase the application throughput and have less complexity compared to Reactivity framework

[2022-09-14 14:15] egvimo opened #344 "Missing generated JCache (Redis) cache configuration (IllegalStateException: Default configuration hasn't been specified!)"
## Overview of the issue

If Redis is used as cache provider (maybe also with others), the application does not start, because of missing cache configuration. This section is empty:

[code]

Genereated here:

https://github.com/jhipster/jhipster-kotlin/blob/6a3f6118751099b4ee7093f9be6280d03d317ee7/generators/server/templates/src/main/kotlin/package/config/CacheConfiguration.kt.ejs#L727-L745

This

[2022-09-30 07:57] codeindustriesnl opened #345 "Update to JHipster 7.9.x dependency with Spring 2.7.0"
## Overview of the issue
The 1.15.0 KHipster generator uses JHipster 7.8.1. JHipster generator has updated to 7.9.3 which has updated dependencies, e.g. Spring 2.7.0.

## Motivation for or Use Case
Spring 2.7.0 is one of the updates in JHipster generator 7.9.x which has some relevant bug fixes.

## Reproduce the error

## Related issues

## Link to PR (if any)

## KHipster Version(s)
1.15.0

-   [

[2022-11-02 19:25] mraible commented on #345
@kingofDaniel Please stop spamming this repo by adding comments.

[2022-11-05 17:28] sendilkumarn commented on #345
@codeindustriesnl started the migration in https://github.com/jhipster/jhipster-kotlin/tree/upgrade/7.9.3

[2022-11-05 17:41] sendilkumarn commented on #344
Adding this to the next release version.

Refer 75771b68991074d557375f1f7cfdbc9c5db8fde9

[2022-11-05 17:42] sendilkumarn commented on #342
Can you please send in a fix?

[2022-11-07 20:39] sendilkumarn commented on #307
Update: The couchbase is failing for only `manyTomany` cases.

[2022-11-07 20:42] sendilkumarn commented on #341
Can you please provide more details and reopen the issue?

[2022-11-07 20:42] #341 closed

[2022-11-08 12:37] #345 closed

[2022-11-09 19:54] #344 closed

[2022-11-14 08:04] sendilkumarn opened #351 "[Upgrade] Upgrade the generator to support mockito 4.0.0"
Refer https://github.com/mockito/mockito/releases/tag/v4.0.0 for more information

[2022-11-14 10:22] #343 closed

[2022-11-16 15:30] sendilkumarn commented on #340
With the latest version, it looks like passing this argument, works as expected.

Please feel free to reopen if the issue persists. Can you also add your JDL / .yo-rc.json file if you have to reopen.

[2022-11-16 15:30] #340 closed

[2022-11-16 15:32] #310 closed

[2022-11-16 15:33] #306 closed

[2022-11-16 22:25] #339 closed

[2022-11-17 13:16] #351 closed

[2022-11-18 18:25] egvimo opened #357 "Error running generator app: SyntaxError: Missing catch or finally after try while compiling ejs"
## Overview of the issue

Error generating app, when an Entity has an `@Id` String field (see JDL example below).

<details>
  <summary>Error</summary>

    ✖ An error occured while running jhipster:bootstrap#commitFiles
    Error running generator app: SyntaxError: Missing catch or finally after try while compiling ejs

    If the above error is not helpful, you may want to try EJS-Lint:
    http

[2022-11-25 09:19] egvimo opened #358 "Integration tests failing on CI, when prod DB is not Postgres"
## Overview of the issue

In the test container factory the prod database is hard coded to Postgres. Therefore the integration tests are failing on CI (they are run with prod flag).

https://github.com/jhipster/jhipster-kotlin/blob/b844b3fe5554f5b8dfb0aa62cb36d81d1230da5c/generators/server/templates/src/test/kotlin/package/config/TestContainersSpringContextCustomizerFactory.kt.ejs#L174

Is this in

[2022-11-30 08:02] PiperDing commented on #309
I‘d like to do this